<PaperButton @disabled={{false}} @raised={{false}} @fab={{false}} @bubbles={{true}} @href={{href-to "libros.verLibro" index}}>
  {{paper-icon "menu_book" class="menu-button-icon"}}<span class="menu-button-typography">{{yield}}</span>
</PaperButton>