{{#if (or initial (and item item.titulo))}}
    <li class={{classes}}>
        {{#if href}}
            <a href={{href}}>{{yield}}{{item.titulo}}</a>
        {{else}}
            <a>{{yield}}{{item.titulo}}</a>
        {{/if}}
    </li>
{{/if}}