
<Modal @title={{"¿Pensás que este ejercicio tiene un error?"}} @onClose={{action onClose}}>
  <p>¿Tenés algún problema?</p>
  <p>¿Pensás que este ejercicio tiene un error?</p>
  <p>Podés escribirnos a <a href="mailto:pilasbloques@program.ar">pilasbloques@program.ar</a> </p>
  <p>Si tenés una cuenta en Github podés también hacernos un reporte de error directamente en el <Link @href="https://github.com/Program-AR/pilas-bloques/issues" @openOnNewTab={{false}}>Issue Tracker</Link></p>
</Modal>


{{!-- alternative version with github integration --}}

{{!-- <Modal @title={{"¿Pensás que este ejercicio tiene un error?"}} @hasButtons={{true}} @cancel={{"Cancelar"}} @success={{"Enviar"}} @onClose={{action onClose}} @onSuccess={{action "createIssue"}}>
  {{paper-input label="Titulo" value=title onChange=(action (mut title))}}
  {{paper-input textarea=true block=true label="Problema" maxlength=200 passThru=(hash rows=5 maxRows=5) value=problem onChange=(action (mut problem))}}
  Dejanos un nombre y un email para poder contestarte:
  {{paper-input label="Nombre" value=name onChange=(action (mut name))}}
  {{paper-input label="E-mail" type="email" value=email onChange=(action (mut email))}}
</Modal> --}}