<Link @href={{href-to "libros.verLibro" book}} @openOnNewTab={{false}}>

  {{#if book.imagen}}
    <div class="exercises-book-image">
      <img src="imagenes/libros/{{book.imagen}}"/>
    </div>
  {{/if}}

  <h3 class="book-title">{{book.titulo}}</h3>

  <div class="challenges-book-description">
    <i>{{book.descripcion}}</i>
  </div>
  
</Link>