{{#if challenge.deshabilitado}}
  <img class='grayscale semi-transparente' src='images/desafios/{{challenge.nombreImagen}}'>
  <div class="ribbon right gray semi-transparente"><a>{{t "components.challengeLink.soon"}}</a></div>
{{else}}
  <Link @href={{href-to "desafio" challenge (query-params codigo="")}} @openOnNewTab={{false}}>
    <img class='desafio-img' src='imagenes/desafios/{{challenge.nombreImagen}}'>
  </Link>
{{/if}}

  <div class='pilas-desafio-titulo'>{{challenge.titulo}}</div>