<Link @href={{href-to "libros.verLibro" book}} @openOnNewTab={{false}} data-test-book  >

  {{#if book.imagen}}
    <div class="exercises-book-image">
      <img src="imagenes/libros/{{book.imagen}}"/>
    </div>
  {{/if}}

  <h3 class="book-title" data-test-book-id={{book.id}} data-test-book-title >{{book.titulo}}</h3>

  <div class="challenges-book-description">
    <i data-test-book-description>{{book.descripcion}}</i>
  </div>

</Link>