<div class="workspace-buttons flex layout-row">
    <span class="flex"></span>
    <input type='file' id="cargarActividadInput" accept=".spbq" class="hidden" />
    <a id="placeholder" class="hidden">..</a>
    <Button @tooltip={{t "components.challengeWorkspaceButtons.open" }} @isMini={{true}} @isFab={{true}} @isRaised={{true}} @onClick={{action "abrirSolucion"}}>{{paper-icon "folder"}}</Button>
    <Button @tooltip={{t "components.challengeWorkspaceButtons.save"}} @isMini={{true}} @isFab={{true}} @isRaised={{true}} @onClick={{action "guardarSolucion"}}>{{paper-icon "save"}}</Button>
    <Button @tooltip={{t "components.challengeWorkspaceButtons.delete"}} @isMini={{true}} @isFab={{true}} @isRaised={{true}} @onClick={{action (mut this.deleteDialogIsOpen) true}}>{{paper-icon "delete"}}</Button>
    <Button @tooltip={{if this.shouldUseFloatingMode (t "components.challengeWorkspaceButtons.exit") (t "components.challengeWorkspaceButtons.fullScreen") }} @isMini={{true}} @isFab={{true}} @isRaised={{true}} @onClick={{this.changeScreenMode}}>{{paper-icon (if this.shouldUseFloatingMode "fullscreen_exit" "fullscreen")}}</Button>
</div>

<ModalToggle @open={{this.deleteDialogIsOpen}}>
  <div class="center">
  {{t "components.challengeWorkspaceButtons.careful"}}
  <div>
    <Button @isRaised={{true}} @onClick={{action "borrarSolucion"}}>{{t "components.challengeWorkspaceButtons.delete"}}</Button>
  </div>
</div>
</ModalToggle>
