<Header id="header-workspace"
    @book={{this.model.grupo.capitulo.libro}}
    @challenge={{this.model}}
    @chapter={{this.model.grupo.capitulo}}
    @group={{this.model.grupo}}
/>

<div class="workspace flex layout-column {{if (compute (action this.shouldShowSimpleRead)) 'simple-read-mode'}}">

  {{#if (and (media 'isMobile') (media 'isPortrait')) }}
    <PhoneRotationWarning @modo ={{compute (action this.shouldShowSimpleRead)}} />
  {{/if}}

  {{#unless this.shouldUseFloatingMode}}
    <SceneDetails class="exercise-details"
      @model={{this.model}}
      @cargando={{this.cargando}}
    />
  {{/unless}}

  <div class="flex layout-row">
    <PaperCard class={{if this.shouldUseFloatingMode "flex-grow pilas-blockly-container floating-mode" "flex-grow pilas-blockly-container"}}>
      <PilasBlockly
        @codigo={{this.codigo}}
        @showCode={{this.showCode}}
        @cargando={{this.cargando}}
        @challenge={{this.model}}
        @debeMostrarFinDeDesafio={{this.debeMostrarFinDeDesafio}}
        @onChangeWorkspace={{this.onChangeWorkspace}}
        @onTerminoEjecucion={{this.onTerminoEjecucion}}
        @onEngineError={{this.onEngineError}}
        @shouldUseFloatingMode={{this.shouldUseFloatingMode}}
        @changeScreenMode={{action "changeScreenMode"}}
      />
    </PaperCard>

    <div>
      <SceneButtons
        @cargando={{this.cargando}}
        @isPausedOnBreackpoint={{this.estaPausadoEnUnBreackpoint}}
        @needShowRestartButton={{this.debeMostarReiniciar}}
        @needShowStepByStepButtons={{this.debeMostrarPasoHabilitado}}
        @pilas={{this.pilas}}
        @reset={{action 'reiniciar' false}}
        @run={{action 'ejecutar' false}}
        @running={{this.ejecutando}}
        @shouldUseFloatingMode={{this.shouldUseFloatingMode}}
        @step={{action 'step' true}}
        @step-by-step-execution={{action 'ejecutar' true}}
        @shouldShowMultipleScenarioHelp={{this.model.shouldShowMultipleScenarioHelp}}
        @areExpectationsRunning={{this.areExpectationsRunning}}
      />

      <Scene class="flex-nogrow" id="draggable"
        @cargando={{this.cargando}}
        @challenge={{this.model}} 
        @hideScene={{action "hideScene"}}
        @onReady={{action "onSceneReady"}}
        @shouldUseFloatingMode={{this.shouldUseFloatingMode}}
      />

    </div>

  </div>

  {{#unless this.shouldUseFloatingMode}}
    <Footer class="app-footer" @cargando={{this.cargando}} @openReportAProblemModel={{action (mut this.showReportAProblemModel)}}/>
  {{/unless}}

  {{#if this.showReportAProblemModel}}
    <BugReportModal @onClose={{action (mut this.showReportAProblemModel) false}}/>
  {{/if}}

</div>
