
<div class="flex layout-column {{if modoLecturaSimple 'aplicar-modo-lectura-simple'}}">
  
  {{#unless shouldUseFloatingMode}}
    <SceneDetails class="exercise-details" 
      @model={{model}}
      @cargando={{cargando}}
    />
  {{/unless}}
  
  <div class="flex layout-row">
    <PaperCard class={{if shouldUseFloatingMode "flex-grow pilas-blockly-container-collapsed" "flex-grow pilas-blockly-container"}}>
      <PilasBlockly
        @guardar={{'guardar'}}
        @registrarPrimerCodigo={{'registrarPrimerCodigo'}}
        @modoDocente={{modoDocente}}
        @modoAlumno={{modoAlumno}}
        @hash={{hash}}
        @idAlumno={{idAlumno}}
        @codigo={{codigo}}
        @showCode={{showCode}}
        @cargando={{cargando}}
        @modelActividad={{model}}
        @cuandoEjecuta={{cuandoEjecuta}}
        @model={{model}}
        @pasoAPasoHabilitado={{model.debugging}}
        @persistirSolucionEnURL={{persistirSolucionEnURL}}
        @debeMostrarFinDeDesafio={{debeMostrarFinDeDesafio}}
        @pilas={{pilas}}
        @bloques={{model.bloques}}
        @onChangeWorkspace={{onChangeWorkspace}}
        @onTerminoEjecucion={{onTerminoEjecucion}}
        @shouldUseFloatingMode={{shouldUseFloatingMode}}
        @changeScreenMode={{action "changeScreenMode"}}
      />
    </PaperCard>

    <Scene class="flex-nogrow" id="draggable"
      @pilas={{pilas}}
      @escena={{model.escena}} 
      @onReady={{action "onReady"}}
      @cargando={{cargando}}
      @running={{ejecutando}}
      @pausedOnBreackpoint={{estaPausadoEnUnBreackpoint}}
      @enableTurboMode={{modoTuboHabilitado}}
      @step={{action 'step' true}}
      @step-by-step-execution={{action 'ejecutar' true}}
      @run={{action 'ejecutar' false}}
      @reset={{action 'reiniciar' false}}
      @onToggle={{action 'updateTurboMode'}}
      @needShowStepByStepButtons={{debeMostrarPasoHabilitado}}
      @isRunning={{ejecutando}}
      @isPausedOnBreackpoint={{estaPausadoEnUnBreackpoint}}
      @shouldUseFloatingMode={{shouldUseFloatingMode}}
      />

    {{#if shouldUseFloatingMode}}
    <PaperCard class="exercise-buttons-card">
      <SceneButtons
        @enableTurboMode={{modoTuboHabilitado}}
        @needShowStepByStepButtons={{debeMostrarPasoHabilitado}}
        @onToggle={{action 'updateTurboMode'}}
        @pausedOnBreackpoint={{pausedOnBreackpoint}}
        @reset={{action 'reiniciar' false}}
        @run={{action 'ejecutar' false}}
        @running={{ejecutando}}
        @step={{action 'step' true}}
        @step-by-step-execution={{action 'ejecutar' true}}
        @shouldUseFloatingMode={{shouldUseFloatingMode}}
        @cargando={{cargando}}
      />
    </PaperCard>
    {{/if}}

  </div>

  {{#unless shouldUseFloatingMode}}
    <Footer @cargando={{cargando}} @openReportAProblemModel={{action (mut showReportAProblemModel)}}/>
  {{/unless}}

  <Toast @message={{"Modo Turbo"}} @needShowToast={{needShowToast}}>
    {{if modoTuboHabilitado "ACTIVADO" "DESACTIVADO"}}
  </Toast>

  {{#if showReportAProblemModel}}
    <BugReportModal @onClose={{action (mut showReportAProblemModel) false}}/>
  {{/if}}

</div>