<div class='collapsable-title' {{action 'toggle'}}>
  {{title}}
  {{#if isExpanded}}
    {{paper-icon "keyboard_arrow_up"}}
  {{else}}
    {{paper-icon "keyboard_arrow_down"}}
  {{/if}}
</div>
{{#if isExpanded}}
  {{yield}}
{{/if}}
