<Fireworks/>
<Modal @title={{t "components.congratulations-modal.did_it"}} @onClose={{action onClose}}>
  <div class="center">
    <img src="imagenes/libros/primer-ciclo.png" />
    <p><strong>{{t "components.congratulations-modal.think"}}</strong> {{ t "components.congratulations-modal.solutions"}}</p>
    <p>{{t "components.congratulations-modal.concepts"}}</p>
  </div>
</Modal>