<Fireworks/>
<Modal @title={{t "components.congratulationsModal.youDidIt"}} @onClose={{action onClose}}>
  <div class="center">
    <img src="imagenes/libros/primer-ciclo.png" />
    <p><strong>{{t "components.congratulationsModal.toThink"}}</strong> {{ t "components.congratulationsModal.otherSolutions"}}</p>
    <p>{{t "components.congratulationsModal.concepts"}}</p>
  </div>
</Modal>