<h1>{{t "components.descripcionAcercaDe.about"}}</h1>
<p>
  {{t "components.descripcionAcercaDe.app"}}
</p>
<p>
  {{t "components.descripcionAcercaDe.challenges"}}
</p>

<h2>
  {{t "components.descripcionAcercaDe.blocks"}}
</h2>

<p>
  {{t "components.descripcionAcercaDe.develop"}}
</p>

<h2>
  {{t "components.descripcionAcercaDe.positive"}}
</h2>

<ul>
<li>
  {{t "components.descripcionAcercaDe.concept"}}
</li>
<li>
  {{t "components.descripcionAcercaDe.difficulties"}}
</li>
</ul>

<h2>
  {{t "components.descripcionAcercaDe.difference"}}
</h2>

<p>
  {{t "components.descripcionAcercaDe.learning"}}
</p>

<h2>
  {{t "components.descripcionAcercaDe.sequence"}}
</h2>

<p>
  {{t "components.descripcionAcercaDe.plan"}}<Link @href='https://program.ar/mision/' @openOnNewTab={{true}}>{{t "components.descripcionAcercaDe.here"}}</Link>.
</p>

<h2>
  {{t "components.descripcionAcercaDe.whoCanDo"}}
</h2>
<p>
  {{t "components.descripcionAcercaDe.activities"}}
</p>

<h2>
  {{t "components.descripcionAcercaDe.anyone"}}
</h2>

<p>
  {{t "components.descripcionAcercaDe.tool"}}
</p>

<h2>
  {{t "components.descripcionAcercaDe.contact"}}
</h2>

<p>
  {{t "components.descripcionAcercaDe.anyDoubts"}}<Link @href='mailto:pilasbloques@program.ar' @openOnNewTab={{false}}>pilasbloques@program.ar</Link>
</p>

<h2>
  {{t "components.descripcionAcercaDe.aboutAuthors"}}
</h2>

<p>
  {{t "components.descripcionAcercaDe.developed"}}<Link @href='http://program.ar/' @openOnNewTab={{true}}>Program.AR</Link> - <Link @href='http://www.fundacionsadosky.org.ar/' @openOnNewTab={{true}}>Fundación Sadosky</Link> {{t "components.descripcionAcercaDe.withTheCollaborationOf"}} <Link @href='https://huayra.educar.gob.ar/' @openOnNewTab={{true}}>Huayra</Link> {{t "components.descripcionAcercaDe.usesTool"}} <Link @href='http://pilas-engine.com.ar/' @openOnNewTab={{true}}>Pilas Engine Web</Link> {{t "components.descripcionAcercaDe.developedBy"}} <Link @href='https://github.com/hugoruscitti' @openOnNewTab={{true}}>Hugo Ruscitti</Link>.
</p>
<p>
  {{t "components.descripcionAcercaDe.didacticSequence"}}<Link @href='http://program.ar/'@openOnNewTab={{true}}>Program.AR</Link>{{t "components.descripcionAcercaDe.material"}}
</p>
<p>
  {{t "components.descripcionAcercaDe.iniciative"}}<Link @href='https://program.ar/'@openOnNewTab={{true}}>program.ar</Link> 
</p>
