<h1>{{t "components.descripcion-acerca-de.about"}}</h1>
<p>
  {{t "components.descripcion-acerca-de.app"}}
</p>
<p>
  {{t "components.descripcion-acerca-de.challenges"}}
</p>

<h2>
  {{t "components.descripcion-acerca-de.blocks"}}
</h2>

<p>
  {{t "components.descripcion-acerca-de.develop"}}
</p>

<h2>
  {{t "components.descripcion-acerca-de.positive"}}
</h2>

<ul>
<li>
  {{t "components.descripcion-acerca-de.concept"}}
</li>
<li>
  {{t "components.descripcion-acerca-de.difficulties"}}
</li>
</ul>

<h2>
  {{t "components.descripcion-acerca-de.difference"}}
</h2>

<p>
  {{t "components.descripcion-acerca-de.learning"}}
</p>

<h2>
  {{t "components.descripcion-acerca-de.sequence"}}
</h2>

<p>
  {{t "components.descripcion-acerca-de.plan"}}<Link @href='https://program.ar/mision/' @openOnNewTab={{true}}>acá</Link>.
</p>

<h2>
  {{t "components.descripcion-acerca-de.who_can_do"}}
</h2>
<p>
  {{t "components.descripcion-acerca-de.activities"}}
</p>

<h2>
  {{t "components.descripcion-acerca-de.anyone"}}
</h2>

<p>
  {{t "components.descripcion-acerca-de.tool"}}
</p>

<h2>
  {{t "components.descripcion-acerca-de.contact"}}
</h2>

<p>
  {{t "components.descripcion-acerca-de.any_doubt"}}<Link @href='mailto:pilasbloques@program.ar' @openOnNewTab={{false}}>pilasbloques@program.ar</Link>
</p>

<h2>
  {{t "components.descripcion-acerca-de.about_authors"}}
</h2>

<p>
  {{t "components.descripcion-acerca-de.developed"}}<Link @href='http://program.ar/' @openOnNewTab={{true}}>Program.AR</Link> - <Link @href='http://www.fundacionsadosky.org.ar/' @openOnNewTab={{true}}>Fundación Sadosky</Link> con la colaboración de <Link @href='http://huayra.conectarigualdad.gob.ar/' @openOnNewTab={{true}}>Huayra</Link> {{t "components.descripcion-acerca-de.uses_tool"}} <Link @href='http://pilas-engine.com.ar/' @openOnNewTab={{true}}>Pilas Engine Web</Link> {{t "components.descripcion-acerca-de.developed_by"}} <Link @href='https://github.com/hugoruscitti' @openOnNewTab={{true}}>Hugo Ruscitti</Link>.
</p>
<p>
  {{t "components.descripcion-acerca-de.didactic_sequence"}}<Link @href='http://program.ar/'@openOnNewTab={{true}}>Program.AR</Link>{{t "components.descripcion-acerca-de.material"}}
</p>
<p>
  {{t "components.descripcion-acerca-de.iniciative"}}<Link @href='https://program.ar/'@openOnNewTab={{true}}>program.ar</Link> 
</p>