
<div class="flex layout-column {{if modoLecturaSimple 'aplicar-modo-lectura-simple'}}">
  
  <ExerciseDetails class="exercise-details" 
    @model={{model}}
    @cargando={{cargando}}
  />
  
  <div class="flex layout-row">
    <PaperCard class="flex-grow pilas-blockly-container">
      <PilasBlockly
          @guardar={{'guardar'}}
          @registrarPrimerCodigo={{'registrarPrimerCodigo'}}
          @modoDocente={{modoDocente}}
          @modoAlumno={{modoAlumno}}
          @hash={{hash}}
          @idAlumno={{idAlumno}}
          @codigo={{codigo}}
          @showCode={{showCode}}
          @cargando={{cargando}}
          @modelActividad={{model}}
          @cuandoEjecuta={{cuandoEjecuta}}
          @model={{model}}
          @pasoAPasoHabilitado={{model.debugging}}
          @persistirSolucionEnURL={{persistirSolucionEnURL}}
          @debeMostrarFinDeDesafio={{debeMostrarFinDeDesafio}}
          @pilas={{pilas}}
          @bloques={{model.bloques}}
          @onChangeWorkspace={{onChangeWorkspace}}
          @onTerminoEjecucion={{onTerminoEjecucion}}
      />
    </PaperCard>

    <Exercise class="flex-nogrow" id={{if shouldUseFloatingMode "draggable" "no-draggable"}}
        @pilas={{pilas}}
        @escena={{model.escena}} 
        @onReady={{action "onReady"}}
        @cargando={{cargando}}
        @showStepByStepButtons={{debeMostrarPasoHabilitado}}
        @running={{ejecutando}}
        @pausedOnBreackpoint={{estaPausadoEnUnBreackpoint}}
        @enableTurboMode={{modoTuboHabilitado}}
        @step={{action 'step' true}}
        @step-by-step-execution={{action 'ejecutar' true}}
        @run={{action 'ejecutar' false}}
        @reset={{action 'reiniciar' false}}
        @onClick={{action 'updateTurboMode'}}
    />
  </div>

  <Toast @message={{"Modo Turbo"}} @needShowToast={{needShowToast}}>
    {{if modoTuboHabilitado "ACTIVADO" "DESACTIVADO"}}
  </Toast>

</div>