<div class="layout-row flex">
    <span class="flex"></span>
    <div class="layout-row">
        <input type='file' id="cargarActividadInput" accept=".spbq" class="hidden" />
        <a id="placeholder" class="hidden">..</a>
        <Button title={{"Abrir solución"}} @isFab={{true}} @isRaised={{true}} @onClick={{action "abrirSolucion"}}>{{paper-icon "folder"}}</Button>
        <Button title={{"Guardar solución"}} @isFab={{true}} @isRaised={{true}} @onClick={{action "guardarSolucion"}}>{{paper-icon "save"}}</Button>
        <Button title={{if shouldUseFloatingMode "Salir de Pantalla Completa" "Pantalla Completa"}} @isFab={{true}} @isRaised={{true}} @onClick={{changeScreenMode}}>{{paper-icon (if shouldUseFloatingMode "fullscreen_exit" "fullscreen")}}</Button>
    </div>
</div>