<div class="layout-row flex">
    <span class="flex"></span>
    <div class="layout-column">
        <input type='file' id="cargarActividadInput" accept=".spbq" class="hidden" />
        <a id="placeholder" class="hidden">..</a>
        <Button title={{"Abrir solución"}} @isFab={{true}} @isRaised={{true}} @onClick={{action "abrirSolucion"}}>{{paper-icon "folder"}}</Button>
        <Button title={{"Guardar solución"}} @isFab={{true}} @isRaised={{true}} @onClick={{action "guardarSolucion"}}>{{paper-icon "save"}}</Button>
        {{!-- <Button title={{"Reportar problema"}} @isFab={{true}} @isRaised={{true}} @onClick={{action openBugReport}}>{{paper-icon "bug_report"}}</Button> --}}
    </div>
</div>