<Modal @title={{t (compute (action textTag "title"))}} @onClose={{onClose}}>
  <div class='expectationsModal'>
    <img src="imagenes/libros/primer-ciclo.png" />
    <p>{{t (compute (action textTag  "description"))}}</p>
  </div>

  {{#if (compute (action isControl))}}
    <ControlGroupExpectations
      @expects={{expects}}
    />
  {{else}}
    <TreatmentGroupExpectations
      @expects={{expects}}
    />
  {{/if}}
</Modal>
