<Modal @title={{t (compute (action textTag "title"))}} @onClose={{onClose}}>
  <div class='expectationsModal'>
    <img src="imagenes/libros/primer-ciclo.png" />
    <p>{{t (compute (action textTag  "description"))}}</p>
  </div>

  {{#if (compute (action shouldShowScoredExpectations))}}
    <ScoredExpectations
      @expects={{expects}}
      @challenge={{challenge}}
      @isTheChallengeSolved={{isTheChallengeSolved}}
    />
  {{else}}
    <NonScoredExpectations
      @challenge={{challenge}}
    />
  {{/if}}
</Modal>
