<Modal @title={{t "components.expectationsModal.goodButNotTooGood"}} @onClose={{onClose}}>
  <div class='expectationsModal'>
    {{!-- <p>{{t "components.expectationsModal.couldBeBetter"}}</p> --}}
    <p>Tu programa resolvió este escenario pero no resuelve todos. ¡Seguí probando!</p>
    <img src="imagenes/libros/primer-ciclo.png" />
  </div>
  <div class='expectationResults' >
    <PaperProgressLinear @value={{passedExpectsValue}} />
    {{#each expects as |expectationResult|}}
      <p class={{if expectationResult.result 'good' 'bad'}}>
        {{#if expectationResult.result}}
          {{paper-icon "check-circle"}}
        {{else}}
          {{paper-icon "thumb_down_off_alt"}}
        {{/if}}
        {{expectationResult.expect}}
      </p>
    {{/each}}
  </div>

  <div class='expectationResults' >
    {{#each tests as |testResult|}}
      <p class={{if testResult.passed 'good' 'bad'}}>
        {{#if testResult.passed}}
          {{paper-icon "check-circle"}}
        {{else}}
          {{paper-icon "thumb_down_off_alt"}}
        {{/if}}
        {{testResult.description}}
      </p>
    {{/each}}
  </div>
</Modal>