<Modal @title={{t (compute (action textTag "title"))}} @onClose={{onClose}}>
  <PaperCard class="details-card layout-row expectationModal">
      <img class="exercise-cover" alt="{{this.challenge.titulo}}" src="{{this.challenge.coverSrc}}">
      <p>{{t (compute (action textTag  "description"))}}</p>
  </PaperCard>

  {{#if (compute (action this.shouldShowScoredExpectations))}}
    <ScoredExpectations
      @expects={{this.expects}}
      @challenge={{this.challenge}}
    />
  {{else}}
    <NonScoredExpectations
      @challenge={{this.challenge}}
    />
  {{/if}}
</Modal>
