<Modal @title={{t (compute (action textTag "title"))}} @onClose={{onClose}}>
  <PaperCard class="details-card flex layout-row expectationModal">
      <img class="exercise-cover" alt="{{challenge.titulo}}" src="{{challenge.coverSrc}}">
      <p>{{t (compute (action textTag  "description"))}}</p>
  </PaperCard>

  {{#if (compute (action shouldShowScoredExpectations))}}
    <ScoredExpectations
      @expects={{expects}}
      @challenge={{challenge}}
    />
  {{else}}
    <NonScoredExpectations
      @challenge={{challenge}}
    />
  {{/if}}
</Modal>
