<Modal @title={{compute (action title)}} @onClose={{onClose}}>
  <div class='expectationsModal'>
    <p>{{compute (action title)}}</p>
    <img src="imagenes/libros/primer-ciclo.png" />
  </div>

  {{#if (compute (action isControl))}}
    <ControlGroupExpectations
      @expects={{compute (action expects)}}
    />
  {{else}}
    <TreatmentGroupExpectations
      @passedExpects={{passedExpects}}
      @failedExpects={{failedExpects}}
      @passedExpectsValue={{passedExpectsValue}}
    />
  {{/if}}
</Modal>
