<PaperToolbar class="header">
  <PaperToolbarTools>

    <a class="pilas-bloques-logo" href="#"><img src='imagenes/logo.png'></a>

    {{#unless (or challenge book)}}
      <span class="flex"/>
      <span class="header-title">{{t "components.header.tool"}}</span>
    {{/unless}}

    {{#if (or challenge book)}}

      {{#if (media 'isMobile')}}
        <NavigationMenu 
          @book={{book}}
          @challenge={{challenge}}
          @chapter={{chapter}}
          @group={{group}}
          @hidden={{openCustomScene}}
        />
      {{else}}
        <span class="flex"/>
        <NavigationBreadcrumb 
          @book={{book}}
          @challenge={{challenge}}
          @chapter={{chapter}}
          @group={{group}}
          @hidden={{openCustomScene}}
        />
      {{/if}}
      
    {{/if}}
    
    <span class="flex"/>
    <NightModeToggle/>
    &nbsp;&nbsp;&nbsp;
    <SessionButton/>

  </PaperToolbarTools>
</PaperToolbar>

<Terms />