<RPaperButton id="language-menu" class="language-icon" @iconButton={{true}} @onClick={{action "menuToggle"}} >
    <RPaperIcon @class='language-button' @iconName="language"/>
</RPaperButton>

<RPaperMenu @triggerId="language-menu" @open={{this.menuOpen}} @onClose={{action "menuToggle"}}>
    {{#each localeCodes as |localeCode|}}
        <RPaperMenuItem>
            <RPaperButton @onClick={{action "setLocale" localeCode }}>
                <span class="menu-item-typography">{{compute (action languageName) localeCode}}</span>
            </RPaperButton>
        </RPaperMenuItem>
    {{/each}}
</RPaperMenu>