{{#if (compute this.platform.inElectron)}}
  <a ...attributes class="link" {{action "abrirDesdeElectron" this.href}} >{{yield}}</a>
{{else}}
  <a ...attributes class="link" href={{this.href}} target={{if this.openOnNewTab '_blank' ''}} >{{yield}}</a>
{{/if}}