{{#if inElectron}}
  <a ...attributes class="link" {{action "abrirConNavegadorExterno" href}} >{{yield}}</a>
{{else}}
  <a ...attributes class="link" href={{href}} target={{if openOnNewTab '_blank' ''}} >{{yield}}</a>
{{/if}}