<div class="center">
  <form {{action "doLogin" on="submit"}}>
    <img src="imagenes/libros/primer-ciclo.png" />

    <p for="username"> Usuario </p>
    <Input @value={{ credentials.username }} required />
    <p for="password"> Contraseña </p>
    <Input type="password" @value={{ credentials.password }} required />

    {{#if wrongLogin}}
      <p>Usuario o contraseña incorrectos, volvé a intentar.</p>
      <Button class="link" @onClick={{action "doLogin"}}>
        ¿Olvidaste tu usuario o contraseña?
      </Button>
    {{/if}}

    <Button type="submit">
      Ingresar
    </Button>
  </form>

  <Button class="link" @onClick={{action (mut openRecovery) true}}>
    Olvidé mi usuario o constraseña
  </Button>


  <p> ¿No tenés una cuenta? </p>
  <Link @href={{href-to "register"}}>
    Registrate
  </Link>
</div>

<ModalToggle @title="Recuperar contraseña" @open={{openRecovery}}>
  ????
</ModalToggle>