<div class="login">
  <div class="login-item">
    <h3>{{t "components.login.already"}}</h3>
  <PaperForm @onSubmit={{action "doLogin"}} as |form|>
    <PbInput @label={{t "components.login.username"}}
      @model={{ this.credentials.username }} 
      @required={{ true }} />

    <PbInput @type="password" @label={{t "components.login.password"}}
      @model={{ this.credentials.password }} 
      @required={{ true }} />

    {{#if wrongLogin}}
      <PaperCard as |card|>
        <card.title as |title|>
          <title.text as |text|>
            <p>{{t "components.login.wrong"}}</p>
          </title.text>
        </card.title>
      </PaperCard>
    {{/if}}

    <ProgressButton type="submit" @loading={{ this.pilasBloquesApi.loading.login }}>
      {{t "components.login.login"}}
    </ProgressButton>
  </PaperForm>

  <br>
  <Link @href={{href-to "password-recovery"}}>
    {{t "components.login.forgot"}}
  </Link>
  </div>

  <div class="login-item">
  <img class="login-header" src="imagenes/session/login.png" />
    <h3> {{t "components.login.dontHaveUser"}} </h3>
    <Link @href={{href-to "register"}}>
      {{t "components.login.register"}}
    </Link>
  </div>
</div>
