<div class="login">
  <img class="login-header" src="imagenes/session/login.png" />
  <div class="login-item">
    <h3>Ya tengo una cuenta</h3>
  <PaperForm @onSubmit={{action "doLogin"}} as |form|>
    <PbInput @label="Usuario"
      @model={{ credentials.username }} 
      @required={{ true }} />

    <PbInput @type="password" @label="Contraseña"
      @model={{ credentials.password }} 
      @required={{ true }} />

    {{#if wrongLogin}}
      <PaperCard as |card|>
        <card.title as |title|>
          <title.text as |text|>
            <p>Usuario o contraseña incorrectos, volvé a intentar</p>
          </title.text>
        </card.title>
      </PaperCard>
    {{/if}}

    <ProgressButton type="submit" @loading={{ pilasBloquesApi.loading.login }}>
      Ingresar
    </ProgressButton>
  </PaperForm>

  <br>
  <Link @href={{href-to "password-recovery"}}>
    Olvidé mi usuario o constraseña
  </Link>
  </div>

  <div class="login-item">
    <h3> No tengo una cuenta </h3>
    <Link @href={{href-to "register"}}>
      ¡Registrate haciendo click aca!
    </Link>
  </div>
</div>
