{{#if mostrar}}
  {{#modal-dialog onClose=(action "close")
                  targetAttachment="center"
                  translucentOverlay=true}}

  {{modal-title title="Ayuda" close=(action "close")}}

  <div class="modal-body">
    {{yield}}

    <p>{{t "components.modalAyuda.help"}}</p>

    <p>{{t "components.modalAyuda.firstSteps"}}</p>

    <img src='imagenes/ayuda/seleccionar.gif' class="img-border">

    <p>{{t "components.modalAyuda.categories"}}</p>

    <p>{{t "components.modalAyuda.dragAndDrop"}}</p>

    <img src='imagenes/ayuda/arrastrar.gif' class="img-border">

    <p>{{t "components.modalAyuda.continue"}}</p>

    <img src='imagenes/ayuda/ejecutar.gif' class="img-border">

    <p>{{t "components.modalAyuda.delete"}}</p>

    <img src='imagenes/ayuda/borrar.gif' class="img-border">

  </div>

  {{/modal-dialog}}

{{/if}}
