{{#paper-dialog class="flex" onClose=(action onClose) fullscreen=true origin=dialogOrigin parent=dialogParent clickOutsideToClose=true}}
    <PaperToolbar>
        <PaperToolbarTools>
            <h2>{{title}}</h2>
            <span class="flex"></span>
            <Button @onClick={{action onClose}} @isButton={{true}}>{{paper-icon "close"}}</Button>
        </PaperToolbarTools>
    </PaperToolbar>
    <PaperDialogContent class="layout-column">
        {{yield}}
    </PaperDialogContent>
    {{#if hasButtons}}
        <PaperDialogActions class="layout-row">
            <Button @onClick={{action onClose}}>{{cancel}}</Button>
            <Button @onClick={{action onSuccess}}>{{success}}</Button>
        </PaperDialogActions>
    {{/if}}
{{/paper-dialog}}