<RPaperButton id="navigation-menu" class="md-menu-origin" @iconButton={{true}} @onClick={{action "menuToggle"}}>
    <RPaperIcon @iconName="menu"/>
</RPaperButton>

<RPaperMenu @triggerId="navigation-menu" @open={{this.menuOpen}} @onClose={{action "menuToggle"}}>
        {{#if this.book}}
            {{!-- Challenge book --}}
                <RPaperMenuItem>
                    <RPaperButton 
                        @disabled={{false}} 
                        @raised={{false}} 
                        @fab={{false}}
                        @bubbles={{true}}
                        @href={{href-to "libros.verLibro" this.book.id}}>
                        <span class="menu-item-typography">{{this.book.titulo}}</span>
                    </RPaperButton>
                </RPaperMenuItem>

                {{!-- Challenge chapter --}}
                <RPaperMenuItem>
                    <RPaperButton 
                        @disabled={{false}} 
                        @raised={{false}} 
                        @fab={{false}} 
                        @bubbles={{true}}
                        @href={{href-to "libros.verLibro" this.book.id}}>
                        <span class="menu-item-typography">{{this.chapter.titulo}}</span>
                    </RPaperButton>
                </RPaperMenuItem>

                {{!-- Challenge group --}}
                {{#if this.challenge.grupo.titulo}}
                    <RPaperMenuItem>
                        <RPaperButton 
                            @disabled={{false}}
                            @raised={{false}}
                            @fab={{false}}
                            @bubbles={{true}}
                            @href={{href-to "libros.verLibro" this.book.id}}>
                            <span class="menu-item-typography">{{this.group.titulo}}</span>
                        </RPaperButton>
                    </RPaperMenuItem>
                {{/if}}
            {{/if}}
            
            {{!-- Challenge title --}}
            <RPaperMenuItem>
                <RPaperButton 
                    @disabled={{false}}
                    @raised={{false}}
                    @fab={{false}}
                    @bubbles={{true}}
                    >
                    <span class="menu-item-typography challenge-title">{{this.challenge.titulo}}</span>
                </RPaperButton>
            </RPaperMenuItem>
</RPaperMenu>