<div class="night-mode-slider">
    <Toggle @element-id="night-mode-slider" @tooltip={{if darkTheme "Activar el modo Luminoso" "Activar el modo Nocturno"}} @isChecked={{darkTheme}} @onToggle={{action "toggleTheme"}}>
        <img class={{if darkTheme "night-mode-slider-icon" "light-mode-slider-icon"}} src={{if darkTheme "https://i.ibb.co/FxzBYR9/night.png" "https://i.ibb.co/7JfqXxB/sunny.png"}} alt={{if darkTheme "Modo nocturno" "Modo luminoso"}}>
    </Toggle>
</div>