<PaperInput
  @type={{ this.type }} 
  @label={{ this.label }}
  @value={{ this.model }} 
  @onChange={{ action (mut this.model) }}
  @errorMessages={{ hash required=(t "templates.pb-input.requiredField") }}
  @customValidations={{ or customValidations (array) }}
  @focusOut={{ this.focusOut }}
  @onKeyDown={{ this.onKeyDown }}
  @required={{ this.required }}
  ...attributes >
  {{#if error}}
    <div class="md-input-messages-animation md-auto-hide" id="ember267-error-messages">
      <div id="error-input-ember267-0" class="paper-input-error ng-enter ng-enter-active md-input-message-animation" style="opacity: 1; margin-top: 0">
        {{ error }}
      </div>
    </div>
  {{/if}}
</PaperInput>
