<PaperCard class="phone-rotation">
    <span class={{if this.modoLecturaSimple "uppercase" ""}}>
        {{t "components.phoneRotationWarning.rotate"}}
    </span>
    <img src=<img src={{urlWithRoot "imagenes/phone-rotation.png"}} />
    <span class={{if this.modoLecturaSimple "uppercase" ""}}>
        {{t "components.phoneRotationWarning.widerScreen"}}
    </span>
</PaperCard>