{{yield}}
<LinkTo @route="libros.verLibro" @model={{libro}}>
  {{#if libro.nombre}}
    <img src="imagenes/libros/{{libro.nombre}}.png" />
  {{/if}}
  <h2>
    {{libro.titulo}}
  </h2>
</LinkTo>
<p>
  {{libro.descripcion}}
</p>