{{#if buscando}}
  <button disabled class='btn btn-success'>{{fa-icon "refresh" spin=true}} Buscando ...</button>
{{else}}
  <button class='btn btn-success' {{action "buscar"}}>{{fa-icon "refresh"}} Buscar actualizaciones</button>
  <span>{{mensaje}}</span>
{{/if}}
