{{yield}}

<div class="vbox">


          <div class='pilas-blockly-botones'>

            {{#if cargando}}
              <p class="center"> {{ t "cargando"}} </p>
            {{else}}

              {{#if pasoAPasoHabilitado}}
                {{#if ejecutando}}
                  {{#if pausadoEnBreakpoint}}
                    <button class='btn btn-default btn-info' {{action "step"}}><i class='fa fa-step-forward'></i> {{t "avanzar"}}</button>
                  {{else}}
                    <button class='btn btn-default btn-info' disabled><i class='fa fa-step-forward'></i> {{t "avanzar"}}</button>
                  {{/if}}
                {{else}}
                  <button class='btn btn-success btn-info' {{action 'ejecutar' true}}><i class='fa fa-play'></i> {{ t "ejecutar-paso-a-paso"}}</button>
                {{/if}}
              {{/if}}


              {{#if ejecutando}}
                  <button class='btn btn-warning' {{action 'reiniciar'}}><i class='fa fa-refresh'></i> {{t "reiniciar"}}</button>
              {{else}}
                  <button class='btn btn-success btn-ejecutar' {{action 'ejecutar'}}><i class='fa fa-play'></i> {{t "ejecutar"}}</button>
              {{/if}}

              {{#if modoAlumno}}

              {{else if modoDocente}}

              {{else}}

                {{#if mostrarGuardar}}
                  {{#if model}}
                    <button class='btn btn-success' {{action "guardar"}}> {{t "guardar"}}</button>
                  {{else}}
                    <button class='btn btn-success' {{action "guardar"}}>{{t "crear-y-guardar"}}</button>
                  {{/if}}
                {{/if}}

                {{pilas-boton-cargar cuandoSelecciona="cargarSolucion"}}

                <button class='btn btn-default' {{action "guardarSolucion"}}><i class="fa fa-download"></i> {{t "guardar"}}</button>


                {{#if debeMostarRegresarAlLibro}}
                  {{#link-to "libros.verLibro" model.grupo.libro class='btn btn-default border-right right'}}<i class='fa fa-arrow-left'></i> {{t "volver-al-libro"}} {{/link-to}}
                {{/if}}


                {{#if mostrarCompartir}}
                  <button class='btn btn-info border-right right' {{action "compartir"}}><i class='fa fa-twitter'></i> {{t "compartir"}}</button>
                {{/if}}

              {{/if}}

            {{/if}}

          </div>


          <div class="contenedor-para-componente-blocky">
            {{#if cargando}}
              {{pilas-cargando}}
            {{else}}

              {{ember-blockly
                mediaFolder="blockly-package/media/"
                blocks=blockly_toolbox
                workspace=initial_workspace
                withZoom=true
                withTrash=true
                comments=blockly_comments
                disable=blockly_disable
                duplicate=blockly_duplicate
                help=false
                disableBlock=false
                javascriptCode=javascriptCode
                showCode=showCode
                highlightedBlock=highlightedBlock
                comment=false
                onChangeWorkspace=(action "onChangeWorkspace")
                disableNotConnectedToMainBlock=true
              }}

            {{/if}}
          </div>

</div>


{{#if ocultarModal}}

{{else}}


{{#if mostrarDialogoFinDesafio}}
  {{#modal-dialog close="ocultarFinDesafio"
                  target="panel-pilas"
                  attatchment="middle center"
                  translucentOverlay=true
                  container-class="dialogoFinDesafio"}}

  {{modal-title title="Objetivo cumplido" close="ocultarFinDesafio"}}

    <p>{{t "automata-cumplio"}}</p>

    <p>{{t "discutir-solucion"}}</p>

  {{/modal-dialog}}
{{/if}}


  {{#if abrirDialogoCompartir}}
    {{#modal-dialog close="ocultarModalTwitter"
                    targetAttachment="center"
                    translucentOverlay=true}}

    {{modal-title title="Compartir en twitter" close="ocultarModalTwitter"}}

    <div class="modal-body">
      <div class="modal-inline-block  float-left">
        <img id="preview" src={{previewData}} width=210 height=240>
      </div>

      <div class="modal-inline-block">

        <div class='fila-opcion'>
          {{t "mensaje"}} {{textarea class='modal-mensaje-compartir' rows=3 value=mensajeCompartir}}
        </div>

        <div class='fila-opcion'>
          {{#if envioEnCurso}}
            <button class="btn btn-info" disabled><i class='fa fa-twitter'></i> {{t "compartiendo"}}</button>
          {{else}}
            <button class="btn btn-info" {{action "enviarMensaje"}}><i class='fa fa-twitter'></i> {{t "compartir"}}</button>
          {{/if}}
        </div>

        {{#if mensajePublicadoURL}}
          <div class='compartir-mensaje'>
            Listo, tu mensaje fué publicado en twitter,
            <a href="" {{action "abrirMensajePublicado"}}>¿querés abrirlo?</a>.
          </div>
        {{/if}}

      </div>
    </div>


    {{/modal-dialog}}
  {{/if}}

{{/if}}
