<div class='pilas-blockly-botones'>
  <button disabled class='btn btn-info' {{action 'alternar'}}><i class='fa fa-arrows-h'></i> Alterar</button>

  {{#if ejecutando}}
      <button class='btn btn-warning' {{action 'reiniciar'}}><i class='fa fa-refresh'></i> Reiniciar</button>
  {{else}}
      <button class='btn btn-success' {{action 'ejecutar'}}><i class='fa fa-play'></i> Ejecutar</button>
  {{/if}}

  <button class='btn btn-warning' {{action "ver_codigo"}}>Ver Codigo</button>

  {{#if model}}
    <button class='btn btn-success' {{action "guardar"}}>Guardar</button>
  {{else}}
    <button class='btn btn-success' {{action "guardar"}}>Crear y Guardar</button>
  {{/if}}

  {{#if cola_deshacer}}
    <button class='btn btn-success' {{action "deshacer_cambio"}}>Deshacer</button>
  {{else}}
    <button class='btn btn-success disabled'>Deshacer</button>
  {{/if}}

</div>

<div id="contenedor-blockly" style="height: 300px; width: 500px;"> </div>
