<div class='contenido-principal desafio-contenedor'>

  {{outlet}}

  <div class="desafio-panel-izquierdo" id='panel-izquierdo'>

    {{pilas-canvas pilas=pilas onReady="onReady" escena=model.escena}}

    <div class='contenedor-panel-ayuda' id="panel-ayuda">
      <div class='panel-ayuda puede-seleccionar'>

        <h4>{{model.titulo}}</h4>

        <p>{{model.enunciado}}</p>

        {{#if model.consignaInicial}}
          <div class="tip-block">
            <p><em>¿Sabías qué...?</em></p>

            <p>{{model.consignaInicial}}</p>
          </div>
        {{/if}}

      </div>
    </div>

  </div>

{{pilas-splitter panel="#panel-izquierdo" iframe="iframe" ayuda="#panel-ayuda"}}

    {{pilas-blockly guardar='guardar'
                    registrarPrimerCodigo='registrarPrimerCodigo'

                    modoDocente=modoDocente modoAlumno=modoAlumno
                    hash=hash idAlumno=idAlumno
                    codigo=codigo

                    showCode=showCode
                    cargando=cargando
                    modelActividad=model
                    cuandoEjecuta=cuandoEjecuta

                    pasoAPasoHabilitado=model.debugging

                    persistirSolucionEnURL=persistirSolucionEnURL
                    debeMostrarFinDeDesafio=debeMostrarFinDeDesafio
                    pilas=pilas
                    bloques=model.bloques
                    onChangeWorkspace=onChangeWorkspace
                    onTerminoEjecucion=onTerminoEjecucion
                }}

</div>
