{{#if cargando}}
  {{!-- {{pilas-cargando}} --}}
{{else}}
  <EmberBlockly
      @mediaFolder={{"blockly-package/media/"}}
      @blocks={{blockly_toolbox}}
      @workspace={{initial_workspace}}
      @withZoom={{true}}
      @withTrash={{true}}
      @comments={{blockly_comments}}
      @disable={{blockly_disable}}
      @duplicate={{blockly_duplicate}}
      @help={{false}}
      @disableBlock={{false}}
      @javascriptCode={{javascriptCode}}
      @showCode={{showCode}}
      @comment={{true}}
      @onChangeWorkspace={{action "onChangeWorkspace"}}
      @onNewWorkspace={{action "onNewWorkspace"}}
      @disableNotConnectedToMainBlock={{true}}
    />
  {{#unless estoyEnMoodle}}
    <span class="pilas-blockly-workspace-buttons">
      <ExerciseWorkspaceButtons @actividad={{modelActividad}} @workspace={{initial_workspace}} @xml={{codigoActualEnFormatoXML}} @openBugReport={{action 'abrirReporteProblemas'}} />
    </span>
  {{/unless}}
{{/if}}

{{#if mostrarDialogoFinDesafio}}
  <CongratulationsModal @onClose={{action "ocultarFinDesafio"}}/>
{{/if}}

{{#if mostrarDialogoReporteProblemas}}
  <BugReportModal @onClose={{action "cerrarReporteProblemas"}}/>
{{/if}}