{{#if cargando}}
  <Spinner @centered={{true}} />
{{else}}
  <EmberBlockly
      @mediaFolder={{"media/"}}
      @blocks={{blockly_toolbox}}
      @workspace={{initial_workspace}}
      @withZoom={{true}}
      @withTrash={{true}}
      @comments={{blockly_comments}}
      @disable={{blockly_disable}}
      @duplicate={{blockly_duplicate}}
      @help={{false}}
      @disableBlock={{false}}
      @showCode={{showCode}}
      @comment={{true}}
      @onChangeWorkspace={{action "onChangeWorkspace"}}
      @onNewWorkspace={{action "onNewWorkspace"}}
      @disableNotConnectedToMainBlock={{true}}
    />
    <span class="pilas-blockly-workspace-buttons">
      <ChallengeWorkspaceButtons @actividad={{challenge}} @shouldUseFloatingMode={{shouldUseFloatingMode}} @changeScreenMode={{changeScreenMode}} @workspace={{initial_workspace}} @xml={{codigoActualEnFormatoXML}}/>
    </span>
{{/if}}

{{#if isEndModalOpen}}
  {{#if (compute (action shouldShowCongratulationsModal))}}
    <CongratulationsModal @onClose={{action "hideEndModal"}}/>
  {{else}}
    <ExpectationModal
      @expects={{expects}}
      @passedExpects={{passedExpects}}
      @failedExpects={{failedExpects}}
      @onClose={{action "hideEndModal"}}/>
  {{/if}}
{{/if}}
