{{#if model.deshabilitado}}
  <img class='grayscale semi-transparente' src='images/desafios/{{model.nombreImagen}}'>
  <div class="ribbon right gray semi-transparente"><a>Muy pronto</a></div>
{{else}}
  <Link @href={{href-to "desafio" model (query-params codigo="")}} @openOnNewTab={{false}}>
    <img class='desafio-img' src='imagenes/desafios/{{model.nombreImagen}}'>
  </Link>
{{/if}}

{{#unless model.grupo.libro.desafiosCortos}}
  <div class='pilas-desafio-titulo'>{{model.titulo}}</div>
{{/unless}}