<div class='pilas-blockly-botones'>
  <button class='btn btn-info' {{action 'alternar'}}><i class='fa fa-arrows-h'></i> Alterar</button>
  
  {{#if ejecutando}}
      <button class='btn btn-warning' {{action 'reiniciar'}}><i class='fa fa-refresh'></i> Reiniciar</button>
  {{else}}
      <button class='btn btn-success' {{action 'ejecutar'}}><i class='fa fa-play'></i> Ejecutar</button>
  {{/if}}
  
  <button class='btn btn-warning' {{action "ver_codigo"}}>Ver Codigo</button>

  <button class='btn btn-success' {{action "guardar"}}>Guardar</button>
</div>

<xml id="toolbox" style="display: none">
    <category name="Control">
    </category>
</xml>


<div id="contenedor-blockly" style="height: 300px; width: 500px;"> </div>
