{{yield}}

<div class="vbox">

  <div class='pilas-blockly-botones'>

    {{#if cargando}}
      <p class="center"> cargando ... </p>
    {{else}}

      {{#if pasoAPasoHabilitado}}
        {{#if ejecutando}}
          {{#if pausadoEnBreakpoint}}
            <button class='btn btn-default btn-info' {{action "step"}}><i class='fa fa-step-forward'></i> Avanzar un paso</button>
          {{else}}
            <button class='btn btn-default btn-info' disabled><i class='fa fa-step-forward'></i> Avanzar un paso</button>
          {{/if}}
        {{else}}
          <button class='btn btn-success btn-info' {{action 'ejecutar' true}}><i class='fa fa-play'></i> Ejecutar paso a paso</button>
        {{/if}}
      {{/if}}


      {{#if debeMostarReiniciar}}
          <button class='btn btn-warning' {{action 'reiniciar'}}><i class='fa fa-refresh'></i> Reiniciar</button>
      {{else}}
          <button class='btn btn-success btn-ejecutar' {{action 'ejecutar'}}><i class='fa fa-play'></i> Ejecutar</button>
      {{/if}}

      {{#if noEstoyEnMoodle}}

        {{pilas-boton-cargar cuandoSelecciona="cargarSolucion"}}

        <button class='btn btn-default' {{action "guardarSolucion"}}><i class="fa fa-download"></i> Guardar</button>

        {{pilas-toggle isDisabled=this.ejecutando isChecked=this.modoTuboHabilitado icon="fa fa-bolt"}}

        {{#if debeMostarRegresarAlLibro}}
          {{#link-to "libros.verLibro" model.grupo.libro class='btn btn-default border-right right'}}<i class='fa fa-arrow-left'></i> Regresar al libro{{/link-to}}
        {{/if}}

        {{#if mostrarCompartir}}
          <button class='btn btn-info border-right right' {{action "compartir"}}><i class='fa fa-twitter'></i> Compartir</button>
        {{/if}}

      {{/if}}

    {{/if}}

  </div>


  <div class="contenedor-para-componente-blocky">
    {{#if cargando}}
      {{pilas-cargando}}
    {{else}}

      {{ember-blockly
        mediaFolder="blockly-package/media/"
        blocks=blockly_toolbox
        workspace=initial_workspace
        withZoom=true
        withTrash=true
        comments=blockly_comments
        disable=blockly_disable
        duplicate=blockly_duplicate
        help=false
        disableBlock=false
        javascriptCode=javascriptCode
        showCode=showCode
        highlightedBlock=highlightedBlock
        comment=false
        onChangeWorkspace=(action "onChangeWorkspace")
        disableNotConnectedToMainBlock=true
      }}

    {{/if}}
  </div>

  <div id="preguntaPorProblemas" {{action 'abrirReporteProblemas'}}>{{fa-icon "question-circle"}} ¿Algún problema con este ejercicio? </div>

</div>


{{#if mostrarDialogoFinDesafio}}
  {{#modal-dialog close="ocultarFinDesafio"
                  target="panel-pilas"
                  attatchment="middle center"
                  translucentOverlay=true
                  container-class="dialogoFinDesafio"}}

    {{modal-title title="¡Lo lograste!" close="ocultarFinDesafio"}}
    <div class="center">
      <img src="imagenes/libros/primer-ciclo.png"/>
      <img style="transform:scaleX(-1)" src="imagenes/libros/programar.png"/>
    </div>
    <p><strong>Para pensar...</strong> Tu programa no es el único que resuelve el problema. ¡Existen otras soluciones!</p>
    {{!-- <p>Si tenés <strong>procedimientos</strong>, usalos para escribir tu <strong>estrategia</strong>. Si tenés patrones repetidos... ¡Usá <strong>repetición</strong>! Y si el escenario cambia... ¡Usá alternativas y repeticiones <strong>condicionales</strong>!</p>--}}
    <p>¿Estás usando los conceptos bien?</p>  

  {{/modal-dialog}}
{{/if}}

{{#if mostrarDialogoReporteProblemas}}
  {{#modal-dialog close='cerrarReporteProblemas'
                  targetAttachment="center"
                  translucentOverlay=true
                  container-class="dialogoAjustado"}}
    {{modal-title title="Reportar un problema" close='cerrarReporteProblemas'}}
    {{info-reportar-problema}}
  {{/modal-dialog}}
{{/if}}


{{#if abrirDialogoCompartir}}
  {{#modal-dialog close="ocultarModalTwitter"
                  targetAttachment="center"
                  translucentOverlay=true}}

    {{modal-title title="Compartir en twitter" close="ocultarModalTwitter"}}

    <div class="modal-body">
      <div class="modal-inline-block  float-left">
        <img id="preview" src={{previewData}} width=210 height=240>
      </div>

      <div class="modal-inline-block">

        <div class='fila-opcion'>
          Mensaje: {{textarea class='modal-mensaje-compartir' rows=3 value=mensajeCompartir}}
        </div>

        <div class='fila-opcion'>
          {{#if envioEnCurso}}
            <button class="btn btn-info" disabled><i class='fa fa-twitter'></i> Compartiendo ...</button>
          {{else}}
            <button class="btn btn-info" {{action "enviarMensaje"}}><i class='fa fa-twitter'></i> Compartir</button>
          {{/if}}
        </div>

        {{#if mensajePublicadoURL}}
          <div class='compartir-mensaje'>
            Listo, tu mensaje fué publicado en twitter,
            <a href="" {{action "abrirMensajePublicado"}}>¿querés abrirlo?</a>.
          </div>
        {{/if}}

      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
