{{#if model.deshabilitado}}
  <img
    class="grayscale semi-transparente"
    src="images/desafios/{{model.nombreImagen}}"
  />
  <div class="ribbon right gray semi-transparente">
    <a>
      Muy pronto
    </a>
  </div>
{{else}}
  <LinkTo @route="desafio" @model={{model}} @query={{hash codigo=""}}>
    <img class="desafio-img" src="images/desafios/{{model.nombreImagen}}" />
  </LinkTo>
{{/if}}
{{#unless model.grupo.libro.desafiosCortos}}
  <div class="pilas-desafio-titulo">
    {{model.titulo}}
  </div>
{{/unless}}