{{yield}}

<h1>{{t "acercade.titulo"}}</h1>

<p>
  {{t "acercade.descripcion.p1"}}
</p>
<p>
  {{t "acercade.descripcion.p2"}}
</p>

<h2>
  {{t "acercade.subtitulo.sub1"}}
</h2>

<p>
  {{t "acercade.programar-con-bloques"}}
</p>

<h2>
  {{t "acercade.subtitulo.sub2"}}
</h2>

<ul>
  <li>
    {{t "acercade.item1"}}
  </li>
  <li>
    {{t "acercade.item2"}}
  </li>
</ul>

<h2>
  {{t "acercade.subtitulo.sub3"}}
</h2>

<p>
  {{t "acercade.diferencias"}}
</p>

<h2>
  {{t "acercade.subtitulo.sub4"}}
</h2>

<p>
  {{t "acercade.secuencia-didactica"}} {{#pilas-link href='http://program.ar/comunidad-conocimiento/'}} {{t "comunidad" }} {{/pilas-link}}.
</p>

<h2>
  {{t "acercade.subtitulo.sub5"}}
</h2>
<p>
  {{t "acercade.publico"}}
</p>

<h2>
  {{t "acercade.subtitulo.sub6"}}
</h2>

<p>
  {{t "acercade.descripcion.p3"}}
</p>

<h2>
  {{t "contacto"}}
</h2>

<p>
  {{t "acercade.dudas"}} <a href='mailto:pilasbloques@program.ar'>pilasbloques@program.ar</a>
</p>

<h2>
  {{t "acercade.subtitulo.sub7"}}
</h2>

<p>
  {{t "pilas-desarrollada"}} {{#pilas-link href='http://program.ar/'}}Program.AR{{/pilas-link}} - {{#pilas-link href='http://www.fundacionsadosky.org.ar/'}} Fundación Sadosky {{/pilas-link}} {{t "colaboracion"}} {{#pilas-link href='http://huayra.conectarigualdad.gob.ar/'}}Huayra{{/pilas-link}}. {{t "uso-pilas"}} {{#pilas-link href='http://pilas-engine.com.ar/'}}Pilas Engine{{/pilas-link}} {{t "de"}} {{#pilas-link href='https://github.com/hugoruscitti'}}Hugo Ruscitti{{/pilas-link}}.
</p>
<p>
  {{t "secuencia-didactica2"}} {{#pilas-link href='http://program.ar/'}}Program.AR{{/pilas-link}} {{t "colaboraciones"}}
</p>
<p>
  {{t "iniciativa"}} {{#pilas-link href='http://program.ar/por-que-ciencias-de-la-computacion/'}}http://program.ar/por-que-ciencias-de-la-computacion/{{/pilas-link}}
</p>
