{{#if model.deshabilitado}}

  {{#if model.nombre}}
    <img class='grayscale semi-transparente' src='images/desafios/{{model.nombre}}.png'>
  {{else}}
    <img class='grayscale semi-transparente' src='images/desafios/proximamente.png'>
  {{/if}}

  <div class="ribbon right gray semi-transparente">
    <a>Muy pronto</a>
  </div>

  <div class='pilas-desafio-titulo'>{{model.titulo}}</div>

{{else}}

  {{#link-to "desafio" model (query-params codigo="")}}

    {{#if model.nombre}}
      <img class='desafio-img' src='images/desafios/{{model.nombre}}.png'>
    {{/if}}

    <div class='pilas-desafio-titulo'>{{model.titulo}}</div>
  {{/link-to}}

{{/if}}
