{{yield}}

<label class="switch" title={{tooltip}}>
    <Input @type={{"checkbox"}} @id={{element-id}} @checked={{isChecked}} />
    <span class="slider round"><i class="slider-icon {{icon}}"></i></span>
</label>