<h3>
  {{t "components.programarDisclaimer.entered"}}<Link @href="http://program.ar/programar-en-casa/" @openOnNewTab={{true}}>{{t "components.programarDisclaimer.programar"}}</Link>?
</h3>
<p>
  {{t "components.programarDisclaimer.in"}}<Link @href="http://program.ar/programar-en-casa/" @openOnNewTab={{true}} ><b>{{t "components.programarDisclaimer.programar"}}</b></Link>{{t "components.programarDisclaimer.find"}}
</p>