<h3>
	{{t "components.registerDisclaimer.now"}} <Link @href={{href-to "register"}} @openOnNewTab={{false}}>{{t "components.registerDisclaimer.register"}}</Link>! 
</h3>
<p>
	{{t "components.registerDisclaimer.optional"}}
</p>
