<div class="center">
  <form {{action "doRegister" on="submit"}}>
    <img src="imagenes/libros/primer-ciclo.png" />

    <p for="username"> Usuario </p>
    <Input @value={{ registerData.username }} required />
    <p for="password"> Contraseña </p>
    <Input type="password" @value={{ registerData.password }} required />
    <p for="passwordConfirm"> Confirmar contraseña </p>
    <Input type="password" @value={{ registerData.passwordConfirm }} required />
    
    {{#if wrongPasswords}}
      <p>Las contraseñas no coinciden</p>
    {{/if}}

    <p for="parentName"> Nombre del tutor </p>
    <Input @value={{ registerData.parentName }} required />
    <p for="parentCUIL"> CUIL o DNI del tutor </p>
    <Input @value={{ registerData.parentCUIL }} required />

    <p for="avatarURL"> Avatar </p>
    <Input @value={{ registerData.avatarURL }} required />

    <Button type="submit">
      Registrar
    </Button>
  </form>
</div>