<div class="center">
  <form {{action "doRegister" on="submit"}}>
    <img src="imagenes/libros/primer-ciclo.png" />

    <p for="username"> Usuario </p>
    <Input @value={{ registerData.username }} @focusOut={{action "checkUsername"}} required />

    {{#unless validUsername}}
      <p>Este nombre de usuario ya existe</p>
    {{/unless}}

    <p for="password"> Contraseña </p>
    <Input type="password" @value={{ registerData.password }} required />
    <p for="passwordConfirm"> Confirmar contraseña </p>
    <Input type="password" @value={{ registerData.passwordConfirm }} @focusOut={{action "checkPassword"}} required />
    
    {{#if wrongPasswords}}
      <p>Las contraseñas no coinciden</p>
    {{/if}}

    <p for="parentName"> Nombre del tutor </p>
    <Input @value={{ registerData.parentName }} required />
    <p for="parentCUIL"> CUIL del tutor </p>
    <Input @value={{ registerData.parentCUIL }} required />
    <p for="email"> Email (opcional) </p>
    <Input @value={{ registerData.email }} />

    <p for="avatarURL"> Avatar </p>
    <Input @value={{ registerData.avatarURL }} required />

    <p for="Terms & Conditions"> Términos y condiciones </p>
    <Textarea @value={{ "Acá van los términos y condiciones" }} disabled={{true}} />
    <br>
    <a>Ver todos los términos y condiciones</a>
    <br>
    <Input @type={{"checkbox"}} required />
    <span>He leído y acepto los términos y condiciones.</span>

    <Button type="submit" @isDisabled={{ or (not validUsername) wrongPasswords }}>
      Registrar
    </Button>
  </form>
</div>