{{#unless cargando}}
    <PaperCard class={{if shouldUseFloatingMode "exercise-buttons-collapsed-card exercise-actions flex layout-column" "exercise-buttons-card exercise-actions flex layout-row"}}>
        
        <SceneButton 
            @class="step-by-step-button-container"
            @element-id="step-by-step-run-button"
            @label={{ t "components.sceneButtons.stepByStepRun.label"}}
            @icon="skip_next"
            @isHidden={{or (not needShowStepByStepButtons) running}}
            @isDisabled={{running}} 
            @isMini={{shouldUseFloatingMode}} 
            @onClick={{step-by-step-execution}}
            @tooltip={{ t "components.sceneButtons.stepByStepRun.tooltip"}}
        />

        <SceneButton 
            @class="step-by-step-button-container"
            @element-id="run-step-button"
            @label={{ t "components.sceneButtons.runStep.label"}}
            @icon="skip_next"
            @isHidden={{or (not needShowStepByStepButtons) (not running)}}
            @isDisabled={{not isPausedOnBreackpoint}} 
            @isMini={{shouldUseFloatingMode}} 
            @onClick={{step}}
            @tooltip={{ t "components.sceneButtons.runStep.tooltip"}}
        />

        <SceneButton 
            @class="run-button-container"
            @element-id="run-button"
            @label={{ t "components.sceneButtons.run.label"}}
            @icon="play_arrow"
            @isHidden={{needShowRestartButton}}
            @isDisabled={{needShowRestartButton}} 
            @isMini={{shouldUseFloatingMode}} 
            @onClick={{run}}
            @tooltip={{ t "components.sceneButtons.run.tooltip"}}
        />

        <SceneButton 
            @class="restart-button-container"
            @element-id="restart-button"
            @label={{ t "components.sceneButtons.restart.label"}}
            @icon="refresh"
            @isHidden={{not needShowRestartButton}}
            @isDisabled={{not needShowRestartButton}} 
            @isMini={{shouldUseFloatingMode}} 
            @onClick={{reset}}
            @tooltip={{ t "components.sceneButtons.restart.tooltip"}}
        />

        {{#unless shouldUseFloatingMode}}
            <span class="flex"></span>
        {{/unless}}

        <TurboModeToggle class={{if shouldUseFloatingMode "toggle-container-collapsed" "toggle-container"}} @pilas={{pilas}} />

    </PaperCard>
{{/unless}}