{{#unless this.cargando}}
    <PaperCard class={{if this.shouldUseFloatingMode "exercise-buttons-collapsed-card exercise-actions flex layout-column column-reverse" "exercise-buttons-card exercise-actions flex layout-row"}}>
        
        <SceneButton 
            @class={{if this.areExpectationsRunning "deactivated-button-container" "step-by-step-button-container"}}
            @element-id="step-by-step-run-button"
            @label={{ t "components.sceneButtons.stepByStepRun.label"}}
            @icon="skip_next"
            @isHidden={{or (not this.needShowStepByStepButtons) this.running}}
            @isDisabled={{or this.running this.areExpectationsRunning}} 
            @isMini={{this.shouldUseFloatingMode}} 
            @onClick={{this.step-by-step-execution}}
            @tooltip={{ t "components.sceneButtons.stepByStepRun.tooltip"}}
        />

        <SceneButton 
            @class={{if this.areExpectationsRunning "deactivated-button-container" "step-by-step-button-container"}}
            @element-id="run-step-button"
            @label={{ t "components.sceneButtons.runStep.label"}}
            @icon="skip_next"
            @isHidden={{or (not this.needShowStepByStepButtons) (not this.running)}}
            @isDisabled={{or (not this.isPausedOnBreackpoint) this.areExpectationsRunning}} 
            @isMini={{this.shouldUseFloatingMode}} 
            @onClick={{this.step}}
            @tooltip={{ t "components.sceneButtons.runStep.tooltip"}}
        />

        <MultipleScenariosArrow 
            @shouldUseFloatingMode={{this.shouldUseFloatingMode}}
            @shouldShowMultipleScenarioHelp={{this.shouldShowMultipleScenarioHelp}}
        />

        <SceneButton 
            @class={{if this.areExpectationsRunning "deactivated-button-container" "run-button-container"}}
            @element-id="run-button"
            @label={{ t "components.sceneButtons.run.label"}}
            @icon="play_arrow"
            @isHidden={{this.needShowRestartButton}}
            @isDisabled={{or this.needShowRestartButton this.areExpectationsRunning}} 
            @isMini={{this.shouldUseFloatingMode}} 
            @onClick={{this.run}}
            @tooltip={{ t "components.sceneButtons.run.tooltip"}}
        />

        <SceneButton 
            @class="restart-button-container"
            @element-id="restart-button"
            @label={{ t "components.sceneButtons.restart.label"}}
            @icon="refresh"
            @isHidden={{not this.needShowRestartButton}}
            @isDisabled={{not this.needShowRestartButton}} 
            @isMini={{this.shouldUseFloatingMode}} 
            @onClick={{this.reset}}
            @tooltip={{ t "components.sceneButtons.restart.tooltip"}}
        />

        {{#unless this.shouldUseFloatingMode}}
            <span class="flex"></span>
        {{/unless}}

        <TurboModeToggle class={{if this.shouldUseFloatingMode "toggle-container-collapsed" "toggle-container"}} @pilas={{this.pilas}} />


    </PaperCard>
{{/unless}}