{{#unless isHidden}}
    <div class={{class}}>
        <Button 
            @isDisabled={{this.isDisabled}}
            @isFab={{this.isMini}} 
            @isMini={{this.isMini}}
            @isRaised={{this.isMini}}
            @element-id={{this.element-id}}
            @tooltip={{this.tooltip}}
            @onClick={{this.onClick}}
            >
                {{#if icon}}
                    {{paper-icon icon}}
                {{else}}
                    {{#if faIcon}}
                        <i class={{faIcon}}></i>
                    {{/if}}
                {{/if}}

                {{#unless this.isMini}} 
                    <span class="button-typography">{{label}}</span>
                {{/unless}}
        </Button>
    </div>
{{/unless}}