{{#if session}}
  <PaperMenu @offset="5 43" as |menu|>
    <menu.trigger class="user-menu">
      <img class="face" src= {{ session.avatarURL }} />
      <Button> {{ session.nickName }} </Button>
    </menu.trigger>
    <menu.content as |content|>
      <content.menu-item>
        <Button @onClick={{action "changeUser"}}> {{t "components.sessionButton.changeUser"}} </Button>
      </content.menu-item>

      <content.menu-item>
        <Button @onClick={{action "logout"}}> {{t "components.sessionButton.logout"}} </Button>
      </content.menu-item>
    </menu.content>
  </PaperMenu>
  <PersonalSurvey />
{{else}}
  <img class="face gray" src={{ randomAvatar }} />
  <Button id="login-btn" @onClick={{action (mut openLogin) true}}> {{t "components.sessionButton.login"}} </Button>
{{/if}}


<ModalToggle @title="Iniciar sesión" @open={{openLogin}}>
  <Login />
</ModalToggle>
