{{#if this.session}}
  <div id="session-button" class="user-menu">
    <img class="face" src= {{ this.session.avatarURL }} />
    <RPaperButton @iconButton={{true}} @onClick={{action "menuToggle"}}> {{ this.session.nickName }} </RPaperButton>
  </div>
  
  <RPaperMenu class="paper-menu" @triggerId="session-button" @open={{this.menuOpen}} @onClose={{action "menuToggle"}}>
      <RPaperMenuItem>
        <Button @onClick={{action "logout"}}> {{t "components.sessionButton.logout"}} </Button>
      </RPaperMenuItem>
  </RPaperMenu>
  <PersonalSurvey />
{{else}}
  <img class="face gray" src={{ this.randomAvatar }} />
  <Button id="login-btn" @onClick={{action (mut this.openLogin) true}}> {{t "components.sessionButton.login"}} </Button>
{{/if}}


<ModalToggle @title={{t "components.login.login"}} @open={{this.openLogin}}>
  <Login />
</ModalToggle>
