  <div class='expectationResults' >
    <PaperProgressLinear @value={{passedExpectsValue}} />
    {{#each passedExpects as |result|}}
      <p class='good'>
        {{paper-icon "check-circle"}}
        {{result.description}}
      </p>
    {{/each}}
    {{#each failedExpects as |result|}}
      <p>
        {{paper-icon "radio_button_unchecked"}}
        {{result.description}}
      </p>
    {{/each}}
  </div>