<div>
  <code class="show-version">{{concat (app-version versionOnly=true) this.groupId}}</code>
  {{paper-icon "code"}}
  <Link @href={{concat 'https://github.com/Program-AR/pilas-bloques/tree/' (app-version shaOnly=true) }} @openOnNewTab={{true}}>
  {{app-version shaOnly=true}}</Link>
</div>