<div class='contenido-principal'>
<h1>Desafíos</h1>

<p>Estos son los desafíos disponibles parar realizar.</p>

<!-- TERMINADAS, incluir en el proximo release-->

{{pilas-desafio nombre='AlienTocaBoton' titulo='El alien toca el botón' onSelect='onSelect'}}
{{pilas-desafio nombre='alien' titulo='El alien y las tuercas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMonoYLasBananas' titulo='El Mono y las bananas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaEleccionDelMono' titulo='La elección del mono' onSelect='onSelect'}}
{{pilas-desafio nombre='LightbotEnScratch' titulo='Tito enciende las luces' onSelect='onSelect'}}
{{pilas-desafio nombre='FutbolRobots' titulo='Fútbol para robots' onSelect='onSelect'}}

<p>Estos son los desafíos que les falta la consigna.</p>
<!-- LES FALTA LA CONSIGNA-->
{{pilas-desafio nombre='LightbotRecargado' titulo='Tito recargado' onSelect='onSelect'}}
{{pilas-desafio nombre='SuperTito1' titulo='Super Tito 1' onSelect='onSelect'}}
{{pilas-desafio nombre='SuperTito2' titulo='Super Tito 2' onSelect='onSelect'}}
{{pilas-desafio nombre='ElRecolectorDeEstrellas' titulo='El recolector de estrellas' onSelect='onSelect'}}


<p>Estos son los desafios a comentar si hay que hacer release.</p>
<!-- EN PROGRESO,comentar si hay que hacer release-->
{{pilas-desafio nombre='ElGatoEnLaCalle' titulo='El gato en la calle' onSelect='onSelect'}}
{{pilas-desafio nombre='MariaLaComeSandias' titulo='María la come sandías' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMarcianoEnElDesierto' titulo='El marciano en el desierto' onSelect='onSelect'}}
{{pilas-desafio nombre='AlimentandoALosPeces' titulo='Alimentando a los peces' onSelect='onSelect'}}
{{pilas-desafio nombre='InstalandoJuegos' titulo='Instalando juegos' onSelect='onSelect'}}
{{pilas-desafio nombre='NoMeCansoDeSaltar' titulo='No me canso de saltar' onSelect='onSelect'}}
{{pilas-desafio nombre='ReparandoLaNave' titulo='Reparando la nave' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMonoQueSabeContar' titulo='El mono que sabe contar' onSelect='onSelect'}}
{{pilas-desafio nombre='TresNaranjas' titulo='Tres naranjas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoCorto' titulo='Laberinto corto' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoLargo' titulo='Laberinto largo' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='Laberinto con queso' onSelect='onSelect'}}
{{pilas-desafio nombre='ElCangrejoAguafiestas' titulo='El cangrejo aguafiestas' onSelect='onSelect'}}
<!--

{{pilas-desafio nombre='LaGranAventuraDelMarEncantado' titulo='El recolector de estrellas' onSelect='onSelect'}}



{{pilas-desafio nombre='ElDetectiveChaparro' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='PrendiendoLasCompus' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMonoQueSabeContar' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMonoCuentaDeNuevo' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='El recolector de estrellas' onSelect='onSelect'}}
-->

{{pilas-desafio nombre='ElPlanetaDeNano' titulo='El planeta de Nano' deshabilitado=true}}
{{pilas-desafio nombre='proximamente' titulo='Próximamente: más actividades' deshabilitado=true}}
</div>
