<div class='contenido-principal'>
<h1>Desafíos</h1>

<p>Estos son los desafíos disponibles parar realizar.</p>
{{pilas-desafio nombre='AlienTocaBoton' titulo='El alien toca el botón' onSelect='onSelect'}}
{{pilas-desafio nombre='alien' titulo='El alien y las tuercas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMonoYLasBananas' titulo='El Mono y las bananas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaEleccionDelMono' titulo='La elección del mono' onSelect='onSelect'}}
{{pilas-desafio nombre='LightbotEnScratch' titulo='Tito enciende las luces' onSelect='onSelect'}}
{{pilas-desafio nombre='FutbolRobots' titulo='Fútbol para robots' onSelect='onSelect'}}
{{pilas-desafio nombre='LightbotRecargado' titulo='Tito recargado' onSelect='onSelect'}}
{{pilas-desafio nombre='SuperTito1' titulo='Super Tito 1' onSelect='onSelect'}}
{{pilas-desafio nombre='SuperTito2' titulo='Super Tito 2' onSelect='onSelect'}}
{{pilas-desafio nombre='ElRecolectorDeEstrellas' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='MariaLaComeSandias' titulo='María la come sandías' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMarcianoEnElDesierto' titulo='El marciano en el desierto' onSelect='onSelect'}}


<!--
{{pilas-desafio nombre='AlimentandoALosPeces' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='InstalandoJuegos' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaGranAventuraDelMarEncantado' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='ReparandoLaNave' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoCorto' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='TresNaranjas' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoLargo' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElDetectiveChaparro' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='PrendiendoLasCompus' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMonoQueSabeContar' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElMonoCuentaDeNuevo' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='El recolector de estrellas' onSelect='onSelect'}}
{{pilas-desafio nombre='LaberintoConQueso' titulo='El recolector de estrellas' onSelect='onSelect'}}
-->

{{pilas-desafio nombre='ElPlanetaDeNano' titulo='El planeta de Nano' deshabilitado=true}}
{{pilas-desafio nombre='proximamente' titulo='Próximamente: más actividades' deshabilitado=true}}
</div>
