{{#if mostrarDialogoOpciones}}
  {{#modal-dialog close="ocultarModals"
                  targetAttachment="center"
                  translucentOverlay=true}}

  {{modal-title title="Opciones" close="ocultarModals"}}

  <div class="modal-body">
    <div class='fila-opcion'>

      <div class="row">
          <div class="col-md-6">Herramientas de desarrollo:</div>
          <div class="col-md-6">
            <button class='btn btn-success btn-sm margin' {{action "actualizar"}}><i class='glyphicon glyphicon-refresh'></i> Actualizar</button>
            <button class='btn btn-info btn-sm margin' {{action "mostrar_devtools"}}><i class='glyphicon glyphicon-cog'></i> Mostrar devtools</button>

            {{#if environment.debeMostrarBotonCodigoXML}}
              <button class='btn btn-info btn-sm margin' {{action "ocultar_boton_codigo"}}><i class='glyphicon glyphicon-file'></i> Ocultar botón de código XML</button>
            {{else}}
              <button class='btn btn-success btn-sm margin' {{action "mostrar_boton_codigo"}}><i class='glyphicon glyphicon-file'></i> Mostrar botón de código XML</button>
            {{/if}}
          </div>
      </div>
    </div>

    <div class='fila-opcion'>
      <div class="row">
        <div class="col-md-6">Tamaño de interfaz:</div>
        <div class="col-md-6"> {{nw-zoom}} </div>
      </div>
    </div>
  </div>


  {{/modal-dialog}}
{{/if}}
