<Header/>

<div class='contenido-principal'>

  <div class="box">

    <p><img class='main-logo' src='imagenes/main-logo.png' width="468" height="262"></p>
    <p>
    {{t "libros.index.welcome"}}
    </p>

    <DisclaimerPrincipal/>

    <div class="jumbotron center">
      <p>
        {{ t "libros.index.challenges"}}
      </p>

      {{#each model as |book|}}
        {{#unless book.oculto}}
          {{challenges-book book=book}}
        {{/unless}}
      {{/each}}
    </div>

    <div class="jumbotron center">

    {{#if enableChallengeCreator}}
      <p>
      {{ t "libros.index.custom_challenges"}}
      </p>
      {{create-custom-challenge}}
      {{import-custom-challenge}}
    {{/if}}

    </div>

    <hr>

    <p>
     Visitá la sección<Link @href={{href-to "acercade"}} @openOnNewTab={{false}}><strong>Acerca de</strong></Link>
           para conocer más en detalle de qué se trata esta herramienta y quién la desarrolló.

    </p>

  </div>


</div>
