<Header/>

<div class="contenido-principal {{if (compute (action shouldShowSimpleRead)) 'simple-read-mode'}}">

  <div class="box">

    <p><img class='main-logo' src='imagenes/main-logo.png' width="468" height="262"></p>
    <p>
    {{t "libros.index.welcome"}}
    </p>

    <DisclaimerPrincipal/>

    <div class="jumbotron center">
      <p>
        {{ t "libros.index.challenges"}}
      </p>

      {{#each model as |book|}}
        {{#unless book.oculto}}
          {{challenges-book book=book}}
        {{/unless}}
      {{/each}}
    </div>

    <div class="jumbotron center">

    {{#if enableChallengeCreator}}
      <p>
      {{ t "libros.index.customChallenges"}}
      </p>
      {{create-custom-challenge}}
      {{import-custom-challenge}}
    {{/if}}

    </div>

    <hr>

    <p>
     {{t "libros.index.visitAbout.part1"}}<Link @href={{href-to "acercade"}} @openOnNewTab={{false}}><strong>{{t "libros.index.visitAbout.link1"}}</strong></Link>
           {{t "libros.index.visitAbout.part2"}}
    </p>

  </div>


</div>
