<div class="contenido-principal {{if model.modoLecturaSimple 'aplicar-modo-lectura-simple'}}">

  <h1>{{t "desafios-del"}} {{t model.titulo}}</h1>

  {{#unless debeOcultarLibros}}
    <p>{{#link-to "libros"}}<i class="fa fa-chevron-left"></i> {{t "volver-libros"}} {{/link-to}}</p>
  {{/unless}}

  {{#each model.grupos as |grupo|}}

    <h2>{{t grupo.titulo}}</h2>

    {{#each grupo.desafios as |desafio|}}
      {{pilas-desafio model=desafio}}
    {{/each}}

  {{else}}
    <p class="mensaje-sin-desafios">{{t "sin-desafios"}}</p>
  {{/each}}

  {{#if model.grupos.isSettled}}

  {{else}}
    {{pilas-cargando}}
  {{/if}}

</div>
