<Header @book={{this.model}} />

<div class="contenido-principal {{if (compute (action this.shouldShowSimpleRead)) 'simple-read-mode'}}">

  <h1> {{t "templates.libros.ver-libro.challengesOf"}} {{this.model.titulo}}</h1>

  <p><Link @href={{href-to "libros"}} @openOnNewTab={{false}}><FaIcon @icon="chevron-left"/> {{t "templates.libros.ver-libro.backBooksList"}}</Link></p>


  {{#each this.model.capitulos as |capitulo|}}
    <div data-test-book-view-chapter>

      {{#if capitulo.titulo}}
        <h1 data-test-book-view-chapter-id={{capitulo.id}} data-test-book-view-chapter-title>{{capitulo.titulo}}</h1>
      {{/if}}


      {{#each capitulo.grupos as |grupo|}}
        {{#if grupo.titulo}}
          <div data-test-book-view-group>
            <h3 data-test-book-view-group-id={{grupo.id}} data-test-book-view-group-title>{{grupo.titulo}}</h3>
          </div>
        {{/if}}

        {{#each grupo.desafios as |desafio|}}
          {{challenge-link challenge=desafio}}
        {{/each}}
      {{/each}}

    </div>
  {{else}}
    <p class="mensaje-sin-desafios">{{t "templates.libros.ver-libro.withoutChallenges"}}</p>
  {{/each}}

  {{#unless this.model.capitulos.isSettled}}
    <Spinner @centered={{true}} />
  {{/unless}}

</div>
