<Header @book={{model}} />

<div class="contenido-principal {{if model.modoLecturaSimple 'aplicar-modo-lectura-simple'}}">

 <DisclaimerPrincipal/>

  <h1>Desafíos del {{model.titulo}}</h1>

  <p><Link @href={{href-to "libros"}} @openOnNewTab={{false}}><i class="fa fa-chevron-left"></i> Volver a la lista de libros</Link></p>

  {{#each model.capitulos as |capitulo|}}
    
      {{#if capitulo.titulo}}
        <h1>{{capitulo.titulo}}</h1>
      {{/if}}
      
      {{#each capitulo.grupos as |grupo|}}
        
        {{#if grupo.titulo.length}}
          <h3>{{grupo.titulo}}</h3>
        {{/if}}
        
        {{#each grupo.desafios as |desafio|}}
          {{challenge-link challenge=desafio}}
        {{/each}}
    
    {{/each}}
  
  {{else}}
    <p class="mensaje-sin-desafios">Lo siento, no hay desafíos para este manual aún.</p>
  {{/each}}

  {{#unless model.capitulos.isSettled}}
    <Spinner @centered={{true}} />
  {{/unless}}

</div>
