<!--id is important, so we can reference it on the toggler component-->
{{#em-modal configName="bs" open-if=abrirDialogoCompartir}}

  {{#em-modal-title}}
      {{#em-modal-toggler class="close"}}×{{/em-modal-toggler}}
      <h4 class="modal-title">Compartir en twitter</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}

    <div class="modal-inline-block  float-left">
      <img id="preview" src={{previewData}} width=210 height=240>
    </div>

    <div class="modal-inline-block">

      <div class='fila-opcion'>
        Mensaje: {{textarea class='modal-mensaje-compartir' rows=3 value=mensajeCompartir}}
      </div>

      <div class='fila-opcion'>
        {{#if envioEnCurso}}
          <button class="btn btn-info" disabled><i class='fa fa-twitter'></i> Compartiendo ...</button>
        {{else}}
          <button class="btn btn-info" {{action "enviarMensaje"}}><i class='fa fa-twitter'></i> Compartir</button>
        {{/if}}
      </div>

      {{#if mensajePublicadoURL}}
      <div class='compartir-mensaje'>
        Listo, tu mensaje fué publicado en twitter,
        <a href="" {{action "abrirMensajePublicado"}}>¿querés abrirlo?</a>.
      </div>
      {{/if}}

    </div>


  {{/em-modal-body}}

  {{#em-modal-footer style='clear:both'}}
      {{#em-modal-toggler class="btn btn-default"}}Cerrar{{/em-modal-toggler}}
  {{/em-modal-footer}}

{{/em-modal}}
