<!--id is important, so we can reference it on the toggler component-->
{{#em-modal configName="bs" open-if=mostrarDialogoOpciones}}

  {{#em-modal-title}}
      {{#em-modal-toggler class="close"}}×{{/em-modal-toggler}}
      <h4 class="modal-title">Opciones</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}

    <div class='fila-opcion'>

      <div class="row">
          <div class="col-md-6">Herramientas de desarrollo:</div>
          <div class="col-md-6">
            <button class='btn btn-success btn-sm margin' {{action "actualizar"}}><i class='glyphicon glyphicon-refresh'></i> Actualizar</button>
            <button class='btn btn-info btn-sm margin' {{action "mostrar_devtools"}}><i class='glyphicon glyphicon-cog'></i> Mostrar devtools</button>

            {{#if environment.debeMostrarBotonCodigoXML}}
              <button class='btn btn-info btn-sm margin' {{action "ocultar_boton_codigo"}}><i class='glyphicon glyphicon-file'></i> Ocultar botón de código XML</button>
            {{else}}
              <button class='btn btn-success btn-sm margin' {{action "mostrar_boton_codigo"}}><i class='glyphicon glyphicon-file'></i> Mostrar botón de código XML</button>
            {{/if}}
          </div>
      </div>
    </div>

    <div class='fila-opcion'>
      <div class="row">
        <div class="col-md-6">Tamaño de interfaz:</div>
        <div class="col-md-6"> {{nw-zoom}} </div>
      </div>
    </div>

  {{/em-modal-body}}

  {{#em-modal-footer}}
      {{#em-modal-toggler class="btn btn-default"}}Cerrar{{/em-modal-toggler}}
  {{/em-modal-footer}}
{{/em-modal}}
