{{outlet}}
<div class='contenido-principal'>
	<div class='contenedor-acercade'>
		{{pilas-acerca-de}}

		<p> {{t "version-actual"}} <code>{{app-version}}</code>
			{{#if hayActualizacion}}
			 	({{t "actualizar"}} {{versionMasReciente}})
			{{/if}}
			</p>

		<p>
		  <button class='btn btn-warning' {{action "visitarWeb"}}>{{fa-icon "globe"}} {{t "visitar-web"}}</button>
		  {{pilas-update}}
		</p>
	</div>
</div>
