{{outlet}}
<div class='contenido-principal'>
	<div class='contenedor-acercade'>
		{{pilas-acerca-de}}

		<p>Actualmente estás usando la versión <code>{{app-version}}</code>
			{{#if hayActualizacion}}
			 	(y se puede actualizar a la versión {{versionMasReciente}})
			{{/if}}
			</p>

		<p>
      {{#pilas-link href="http://bloques.pilas-engine.com.ar"}}
		    <button class='btn btn-warning'>{{fa-icon "globe"}} Visitar la web del proyecto</button>
      {{/pilas-link}}
		  {{pilas-update}}
		</p>
	</div>
</div>
