<div class='contenido-principal'>

<h1>Acerca de ...</h1>

<p><strong>pilas-engine-bloques</strong> es una herramienta
diseñada para aprender a programar utilizando lógica y desafíos.</p>

<p>Actualmente estás usando la versión <code>{{currentVersion}}</code></p>


<p>
  <button class='btn btn-warning' {{action "visitWebsite"}}>{{fa-icon "globe"}} Visitar al web del proyecto</button>
  <button class='btn btn-success' disabled {{action "searchUpdates"}}>{{fa-icon "refresh"}} Buscar actualizaciones</button>
</p>

</div>
