{{#if layout}}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-collapse">
      <a class="navbar-brand" href="#">pilas-engine-bloques</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to "index" tagName='li'}}<a href=#>index</a>{{/link-to}}
        {{#link-to "editor" "new" tagName='li'}}<a href=#>editor</a>{{/link-to}}
        {{#link-to "galeria" tagName='li'}}<a href=#>galeria</a>{{/link-to}}
        {{#link-to "preferencia" tagName='li'}}<a href=#>preferencias</a>{{/link-to}}
      </ul>

      <div class='header-right'>
        {{#em-modal-toggler modal-id="modal1" class="header-button"}}{{fa-icon "gear"}}{{/em-modal-toggler}}
      </div>
    </div>
  </div>
</nav>


<!--id is important, so we can reference it on the toggler component-->
{{#em-modal configName="bs" id="modal1"}}

  {{#em-modal-title}}
      {{#em-modal-toggler class="close"}}×{{/em-modal-toggler}}
      <h4 class="modal-title">Opciones</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}

    <div class='fila-opcion'>
      Herramientas de desarrollo:
      <button class='btn btn-success btn-sm btn-rect' {{action "actualizar"}}><i class='glyphicon glyphicon glyphicon-refresh'></i></button>
      <button class='btn btn-info btn-sm btn-rect' {{action "mostrar_devtools"}}><i class='glyphicon glyphicon glyphicon-cog'></i></button>
      <button class='btn btn-warning btn-sm btn-rect' {{action "show"}}><i class='glyphicon glyphicon-star-empty'></i></button>
    </div>


    <div class='fila-opcion'>
      Tamaño de interfaz: {{nw-zoom}}
    </div>

  {{/em-modal-body}}

  {{#em-modal-footer}}
      {{#em-modal-toggler class="btn btn-default"}}Cerrar{{/em-modal-toggler}}
  {{/em-modal-footer}}
{{/em-modal}}



{{/if}}

<div class="page-container">
  {{liquid-outlet}}
</div>
