<div class='contenido-principal desafio-contenedor'>

  {{outlet}}

  <div class="desafio-panel-izquierdo">

    {{pilas-canvas pilas=pilas onReady="cuandoCargaPilas" escena=model.escena}}

    <div class='panel-ayuda puede-seleccionar'>

      <h4>{{model.titulo}}</h4>

      <p>{{model.enunciado}}</p>

      {{#if model.consignaInicial}}
        <div class="tip-block">
          <p><em>¿Sabías qué...?</em></p>

          <p>{{model.consignaInicial}}</p>
        </div>
      {{/if}}

    </div>

  </div>



  <div class="desafio-panel-derecho">

    <div>
      {{#if pilas.loading}}
        <button disabled>Reiniciando</button>
      {{else}}
        <button {{action "reiniciar"}}>Reiniciar</button>
      {{/if}}
    </div>

    {{pilas-blockly guardar='guardar' reiniciar='reiniciar'
                    registrarPrimerCodigo='registrarPrimerCodigo'
                    pilas=pilas
                    actividad=model.actividad}}
  </div>

</div>
