<div class='contenido-principal'>
  <p>Viendo la solución {{model.nombre}}</p>

  {{outlet}}

  {{pilas-canvas pilas=pilas onReady="cuandoCargaPilas"}}

  <div>
    Cargando: {{pilas.loading}}
  </div>

  <div>

    <button {{action "reiniciar"}}>Reiniciar</button>

  </div>

</div>
