<h1>Editor</h1>

<p>
{{#if nombre_escenario}}
  Escenario: {{nombre_escenario}}
{{else}}
  Escenario: <em>Sin definir</em>
{{/if}}
</p>


{{pilas-canvas onready="reiniciar"}}

{{pilas-blockly reiniciar="reiniciar" escenario=nombre_escenario}}

{{outlet}}


<div>
  Acá un texto que explica el motivo de la actividad
</div>
