<div class='contenido-principal'>

<h1>Galería</h1>

{{#each model as |juego|}}

  <div class='galeria-juego'>
    <div class='galeria-juego-acciones'><button {{action "eliminar" juego}} class='btn btn-danger btn-xs'><i class='fa fa-trash'></i></button></div>
    <div class='galeria-juego-preview' {{action "abrir" juego}}><img src={{juego.imagen}}></div>
    <div class='galeria-juego-titulo'>{{juego.nombre}}</div>
  </div>

{{else}}
  <p>Parece que no hay ningún juego creado...</p>
{{/each}}

{{outlet}}

</div>
