<div class='contenido-principal'>

  <div class="box">


    <p><img class='main-logo' src='images/main-logo.png' width="468" height="262"></p>

    {{outlet}}

    <p>
      {{t "bienvenida"}}
    </p>

    <p>
      {{t "ingresar-a-desafios" link=(to-link 'desafios' 'libros')}}
    </p>

    <p>
      {{ t "ingresar-acercade" link=(to-link 'acerca-de' 'acercade')}} 
    </p>

    <p>
      {{t "ayuda" icono=(to-icon 'question')}}
    </p>


  </div>

</div>
