<Header/>

<div class="center">
  {{#unless this.isExpiredToken}}
  {{#paper-stepper currentStep=currentStep onStepChange=(action (mut currentStep))
      vertical=true as |stepper|}}

    {{#unless token}}

      {{#stepper.step label=(t "templates.password-recovery.enterUsername") as |step|}}
          {{#step.body}}
            <PaperForm @onSubmit={{action "checkUsername" step.nextStep}} as |form|>

              <PbInput
                @label={{t "templates.password-recovery.username"}}
                @model={{ this.credentials.username }}
                @required={{ true }}
                @onKeyDown={{ action (mut this.usernameExists) true }}
                @error={{ unless this.usernameExists (t "templates.password-recovery.nonExistingUsername") }} />

              <ProgressButton type="submit" @loading={{ this.pilasBloquesApi.loading.password-recovery }}>
                {{t "templates.password-recovery.continue"}}
              </ProgressButton>

            </PaperForm>
          {{/step.body}}
      {{/stepper.step}}

    {{/unless}}

    {{#stepper.step label=(t "templates.password-recovery.newPassword") as |step|}}
      {{#step.body}}
        {{#if this.credentials.email}}

          <h2><strong>{{t "templates.password-recovery.checkEmail"}}</strong></h2>
          <p>{{t "templates.password-recovery.emailSent"}}{{ this.credentials.email }}{{t "templates.password-recovery.passwordRecoveryLink"}}</p>

        {{else}}

          <PaperForm @onSubmit={{action "changePassword" step.nextStep}} as |form|>

            {{#unless this.token}}

              <PbInput
                @label={{t "templates.password-recovery.accountID"}}
                @model={{ this.credentials.parentDNI }}
                @required={{ true }}
                @onKeyDown={{ action (mut this.wrongCredentials) false }}
                @error={{ if this.wrongCredentials (t "templates.password-recovery.invalidId") }} />

            {{/unless}}

            <PbInput
              @type="password"
              @label={{t "templates.password-recovery.newPassword"}}
              @model={{ this.credentials.password }}
              @required={{ true }} />

            <PasswordConfirmation @password={{ this.credentials.password }} />

            <ProgressButton type="submit" @loading={{ this.pilasBloquesApi.loading.credentials }}>
              {{t "templates.password-recovery.finish"}}
            </ProgressButton>
            
            {{#if this.step.previousStep}}
              <PaperButton onClick={{ action this.step.previousStep }}>
                {{t "templates.password-recovery.back"}}
              </PaperButton>
            {{/if}}

          </PaperForm>

        {{/if}}
      {{/step.body}}
    {{/stepper.step}}

    {{#stepper.step label=(t "templates.password-recovery.passwordChanged") as |step|}}
      {{#step.body}}
        <h2><strong>{{t "templates.password-recovery.helloAgain"}}</strong></h2>
        <p>{{t "templates.password-recovery.passwordChanged"}}</p>
      {{/step.body}}
      {{#step.actions as |nextStep previousStep goTo|}}
        {{#paper-button primary=true raised=true href="#"}}
          Ok
        {{/paper-button}}
      {{/step.actions}}
    {{/stepper.step}}


  {{/paper-stepper}}
  {{else}}
    <h2><strong>{{ t "templates.password-recovery.expiredTokenTitle"}}</strong></h2>
    <p>
      {{t "templates.password-recovery.expiredTokenMessage"}}
      <span>
        <Link @href={{href-to "password-recovery"}}>
          {{t "templates.password-recovery.expiredTokenLink"}}
        </Link>
      </span>
    </p>
  {{/unless}}
</div>
