<Header/>

<div class="center">
  {{#paper-stepper currentStep=currentStep onStepChange=(action (mut currentStep)) 
      vertical=true as |stepper|}}

    {{#unless token}}

      {{#stepper.step label="Ingrese su nombre de usuario" as |step|}}
          {{#step.body}}
            <PaperForm @onSubmit={{action "checkUsername" step.nextStep}} as |form|>

              <PbInput @label="Usuario"
                @model={{ credentials.username }} 
                @required={{ true }}
                @onKeyDown={{ action (mut usernameExists) true }}
                @error={{ unless usernameExists "Este nombre de usuario no existe" }} />

              <ProgressButton type="submit" @loading={{ pilasBloquesApi.loading.password-recovery }}>
                Continuar
              </ProgressButton>

            </PaperForm>
          {{/step.body}}
      {{/stepper.step}}

    {{/unless}}

    {{#stepper.step label="Nueva contraseña" as |step|}}
      {{#step.body}}
        {{#if credentials.email}}

          <h2><strong>Revisá tu mail</strong></h2>
          <p>Un e-mail fue enviado a tu casilla {{ credentials.email }}. Dentro de ese e-mail hay un link para que recuperes tu contraseña.</p>
        
        {{else}}
        
          <PaperForm @onSubmit={{action "changePassword" step.nextStep}} as |form|>

            {{#unless token}}

              <PbInput @label="DNI de madre, padre o tutor/a"
                @model={{ credentials.parentDNI }} 
                @required={{ true }}
                @onKeyDown={{ action (mut wrongCredentials) false }}
                @error={{ if wrongCredentials "DNI incorrecto" }} />

            {{/unless}}

            <PbInput @type="password" @label="Nueva contraseña"
              @model={{ credentials.password }} 
              @required={{ true }} />

            <PasswordConfirmation @password={{ credentials.password }} />

            <ProgressButton type="submit" @loading={{ pilasBloquesApi.loading.credentials }}>
              Finalizar
            </ProgressButton>
            <PaperButton onClick={{ action step.previousStep }}>
              Volver
            </PaperButton>

          </PaperForm>

        {{/if}}
      {{/step.body}}
    {{/stepper.step}}

    {{#stepper.step label="Contraseña cambiada" as |step|}}
      {{#step.body}}
        <h2><strong>¡Hola de nuevo!</strong></h2>
        <p>Tu contraseña ha sido cambiada. </p>
      {{/step.body}}
      {{#step.actions as |nextStep previousStep goTo|}}
        {{#paper-button primary=true raised=true href="#"}}
          Ok
        {{/paper-button}}
      {{/step.actions}}
    {{/stepper.step}}


  {{/paper-stepper}}

</div>