<Header/>

<div class="center">
  {{#paper-stepper currentStep=currentStep onStepChange=(action (mut currentStep)) 
      vertical=true as |stepper|}}

    {{#stepper.step label="Ingrese su nombre de usuario" as |step|}}
        {{#step.body}}
          <PaperForm @onSubmit={{action "checkUsername" step.nextStep}} as |form|>

            <PbInput @label="Usuario"
              @model={{ credentials.username }} 
              @required={{ true }}
              @onKeyDown={{ action (mut usernameExist) true }}
              @error={{ unless usernameExist "Este nombre de usuario no existe" }} />

            <ProgressButton type="submit" @loading={{ pilasBloquesApi.loading.register-check }}>
              Continuar
            </ProgressButton>

          </PaperForm>
        {{/step.body}}
    {{/stepper.step}}

    {{#stepper.step label="Nueva contraseña" as |step|}}
      {{#step.body}}
        <PaperForm @onSubmit={{action "changePassword" step.nextStep}} as |form|>

          <PbInput @label="CUIL de madre, padre o tutor/a"
            @model={{ credentials.parentCUIL }} 
            @required={{ true }}
            @onKeyDown={{ action (mut wrongCredentials) false }}
            @error={{ if wrongCredentials "CUIL incorrecto" }} />

          <PbInput @type="password" @label="Nueva contraseña"
            @model={{ credentials.password }} 
            @required={{ true }} />

          <PbInput @type="password" @label="Confirmar contraseña"
            @model={{ passwordConfirm }} 
            @customValidations={{ passwordConfirmValidation }}
            @required={{ true }} />

          <ProgressButton type="submit" @loading={{ pilasBloquesApi.loading.credentials }}>
            Finalizar
          </ProgressButton>
          <PaperButton onClick={{ action step.previousStep }}>
            Volver
          </PaperButton>

        </PaperForm>
      {{/step.body}}
    {{/stepper.step}}

    {{#stepper.step label="Contraseña cambiada" as |step|}}
      {{#step.body}}
        <h2><strong>¡Hola de nuevo!</strong></h2>
        <p>Tu contraseña ha sido cambiada. </p>
      {{/step.body}}
      {{#step.actions as |nextStep previousStep goTo|}}
        {{#paper-button primary=true raised=true href="#"}}
          Ok
        {{/paper-button}}
      {{/step.actions}}
    {{/stepper.step}}


  {{/paper-stepper}}

</div>