<Header/>

<div class="center">
  <PaperForm class="register-form" @onSubmit={{action "doRegister"}} as |form|>
    <img src="imagenes/session/register.png" />
    
    <PbInput @label="Usuario"
      @model={{ registerData.username }} 
      @focusOut={{ action "checkUsername" }}
      @required={{ true }}
      @error={{ if (not validUsername) "Este nombre de usuario ya existe" }} />

    <PbInput @type="password" @label="Contraseña"
      @model={{ registerData.password }} 
      @required={{ true }} />

    <PasswordConfirmation @password={{ registerData.password }} />

    <PbInput @type="email" @label="Email"
      @focusOut={{ action "checkEmail" }}
      @model={{ registerData.email }}
      @error={{ if (not validEmail) "Este no es un email válido" }} />

    <p for="avatarURL">
      <label>Elegí tu avatar:</label>
      <PbInput class="invisible-input" @type="checkbox" @model={{ registerData.avatarURL }} @required={{ true }} />  
    </p>
    <PaperGridList @cols="4" @rowHeight="gt-xs-1:1 gt-md-1:1" as |grid|>
      {{#each avatars as |avatar|}}
        <grid.tile as |tile|>
          <button type="button" class="avatar" onClick={{action (mut registerData.avatarURL) avatar}}>
            <img class={{ if (not (eq registerData.avatarURL avatar)) "gray" "selected"}} src={{ avatar }} />
          </button>
        </grid.tile>
      {{/each}}
    </PaperGridList>

    <p>Consentimiento parental</p>

    <PbInput @label="Nombre completo de madre, padre o tutor/a"
      @focusOut={{ action "checkParentName" }}
      @model={{ registerData.parentName }} 
      @required={{ true }}
      @error={{ if (not validParentName) "Se requiere nombre y apellido" }} />

    <PbInput @label="DNI de madre, padre o tutor/a" 
      @focusOut={{ action "checkDNI" }} 
      @model={{ registerData.parentDNI }} 
      @required={{ true }} 
      @error={{ if (not validDNI) "El DNI es invalido" }} />

    <Collapsable @class="left" @title="¿Por qué solicitamos estos datos?">
      <p>Para la FUNDACIÓN SADOSKY tu privacidad y la de tus hijas/os es muy importante.</p>
      <p>Identificamos la cuenta con los datos de madre, padre o tutor/a para poder saber de quién se trata en caso de que quiera hacer uso de los derechos emergentes de la Ley de Protección de Datos Personales del menor tutelado. Podés ver más en el punto 8.4 de los <TermsAndConditionsLink />.</p>
      <p>Las madres, padres o tutores podrán comunicarse por email a pilasbloques@program.ar para conocer cuáles son los datos almacenados de los menores a su cargo y solicitar que se efectúen modificaciones en los datos suministrados.</p>

    </Collapsable>

    <Input @type={{"checkbox"}} required /> <span>He leído y acepto los <TermsAndConditionsLink /></span>

    <br><br>
    <ProgressButton class="link" type="submit" 
      @isDisabled={{not canRegister}} 
      @loading={{ pilasBloquesApi.loading.register }}>
        Registrar
    </ProgressButton>
  </PaperForm>
</div>